//
// Images and Image Zoom
//

.page-node.node-type-rings {

  // Wrapper around image zoom and thumbnails
  .commerce-product-field-field-images {
    position: relative;
    padding-right: ($padding * 4);
    padding-bottom: ($padding * 2);
    min-height: $imagestyle-product_full;
    @include clearfix;
  }

  .imagezoom-image {
    position: absolute;
    top: 0;
    right: ($padding * 4);
  }

  // Thumbnail wrapper
  .imagezoom-thumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // Thumbnails
  .imagezoom-thumb {
    margin-top: $padding;
    margin-left: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

}
