//
// List of rings, in a grid
//

// Note: The use of !important in this stylesheet is necessary to override
// Commerce Kickstart's specificity, which applies styles only to the
// page-products context.

.view-display-products {

  .all-products {
    text-align: center;
  }

  // Item wrapper
  li.views-row {
    display: inline-block !important;
    float: none !important;
    margin-bottom: $padding !important;
    width: $imagestyle-product_medium !important;
    min-height: 350px !important;
    padding: 2px !important;
    text-align: left !important;

    @include is-on {
      background-color: rgba($blue_dark, 0.2);
    }
  }

  // Title header
  li header {
    background-image: none !important;

    h2 {
      padding-top: ($padding / 2) !important;
    }

    a {
      color: $black !important;
      font-size: 1rem !important;
      font-weight: $normal;
    }
  }

  // Price
  .commerce-product-field .field-item {
    margin-top: ($padding / 6);
    border-top: 1px $black dotted;
    text-align: right;
    @include font-size(24px);
    font-weight: $bold;
    color: $blue_dark;
  }
}
