//
// "Skip to content" link for keyboard users
//
// Drupal (visually) hides this by default, and displays it only if it is in
// focus.
//

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  width: 100%;
  // height: $header-height-sm;
  // line-height: $header-height-sm;
  background-color: $white;
  text-align: center;
  z-index: 100000;
}
