//
// Drupal's "local action" (view, edit, etc.) tabs
//

body div.tabs {

  @include mq(mediumish) {
    position: absolute;
    top: 0;
    left: 100%; // positioned just to the right of the main content area
  }

  ul.tabs {
    margin: $padding 0;

    @include mq(mediumish) {
      width: 150px;
      margin: 0;
      padding: 0;
    }

      li {

        @include mq(mediumish) {
          width: 100%;
          margin: 0 !important;
          padding: ($padding / 3) !important;
        }
      }
    }
}
