//
// "Free" banner on the home page
//

.home-free {
  margin: 0 auto;
  padding: $padding;
  background-color: rgba($white, 0.5);
  border-radius: $border-radius;
}

.home-free__intro {
  margin-bottom: $padding;
  @include font-size(28px);
  font-weight: $thin;
  text-align: center;
}

.home-free__list {
  margin: 0;
  text-align: center;
}

.home-free__item {
  display: inline-block;
  width: ($imagestyle-product_thumbnail * 2);
  margin: 0 $padding;
  list-style-type: none;
  border-radius: $border-radius;
}

.home-free__link {
  display: block;
  padding: $padding $padding $padding $imagestyle-product_thumbnail;
  @include font-size(16px);
  font-weight: $normal;
  text-align: left;
  border-radius: $border-radius;
  background-repeat: no-repeat;
  background-position: 10% 50%;

  @include is-on {
    background-color: $white;
  }
}

.home-free__link--shipping {
  background-image: url('../images/min/box.svg');
}

.home-free__link--resizing {
  background-image: url('../images/min/ruler.svg');
}

.home-free__link--engraving {
  background-image: url('../images/min/pen.svg');
}
