// Buttons
//
// Style guide: base.buttons

// Standard button
//
// markup:
// <button>Button</button>
//
// Style guide: base.buttons.standard
%button {
  display: block;
  border: none;
  background: $blue;
  width: 100%;
  padding: 0.7rem;
  margin: 0 0 $padding;
  cursor: pointer;
  color: $white;
  font-family: $font-default !important;
  @include font-size(18px);
  font-weight: $thin;
  letter-spacing: 1px;
  transition: $transition-short;
  user-select: none;
  @include card(1);

  @include is-on {
    background: $blue-dark;
    color: $white;
    outline: 0;
    @include a-grow;
  }

  &:active {
    @include card(0);
  }

  @include disabled {
    background-color: $white;
    color: $grey;
    @include card(0);

    @include is-on {
      @include a-grow(1);
    }
  }
}

button,
.button {
  @extend %button;
}

// Inline button
//
// markup:
// <button class="button--inline">Button</button>
//
// Style guide: base.buttons.inline

.button--inline {
  @extend %button;
  display: inline-block;
  width: auto;
  margin: 0;
}

// Call to action button
//
// markup:
// <button class="button--cta">Button</button>
//
// Style guide: base.buttons.cta

.button--cta {
  @extend %button;
  display: inline-block;
  width: auto;
  padding: 0.25rem 1rem;
  font-weight: $normal;
  border-radius: $border_radius;
  border: 1px $blue solid;

  @include is-on {
    background: $white;
    color: $blue-dark;
    outline: 0;
    border: 1px $grey solid;
  }
}

// Ghost button
//
// markup:
// <button class="button--ghost">Button</button>
//
// Style guide: base.buttons.ghost
.button--ghost {
  @extend %button;
  display: inline-block;
  width: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  background: rgba($blue-dark, 0.25);
  color: $blue-dark;
  font-weight: $normal;
  letter-spacing: 1px;

  @include mq(mediumish) {
    border: 2px solid $blue-dark;
    background: none;
  }

  @include is-on {
    background: rgba($blue-dark, 0.25);
    color: $blue-dark;
    outline: 0;
  }
}

// Tag button
//
// markup:
// <button class="button--tag">Button</button>
//
// Style guide: base.buttons.tag

.button--tag {
  @extend %button;
  display: inline-block;
  width: auto;
  margin: 0 ($padding / 3);
  padding: ($padding / 6) ($padding / 2);
  @include font-size(14px);
  font-weight: $normal;
  border-radius: $border_radius;
  border: 1px $blue solid;
  @include card(0);

  @include is-on {
    @include a-grow($scale: 1, $duration: 0);
    background: $white;
    color: $blue-dark;
    outline: 0;
    border: 1px $grey solid;
  }
}
