// Select elements
//
// markup:
// <div class="form-item"><select name="select"><option value="value1">Value 1</option><option value="value2" selected>Value 2</option><option value="value3">Value 3</option></select></div>
//
// Style guide: base.form.select

select {
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
  border: 1px solid #aaa;
  border-radius: $border-radius;
  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"/></svg>'); // chevron-down.svg
  background-repeat: no-repeat;
  background-position: 97.5% 50%;
  background-color: $white-off;
  color: $blue-verydark;
  font-family: $font-default;
  @include font-size(16px);
  box-shadow: none;
  border-radius: 0;
  transition: $transition-short;
  appearance: none;
  -webkit-appearance: none;

  @include is-on {
    outline: none;
    border-color: $blue;
  }
}
