//
// Front page layout
//

.front {

  // Layout
  .zone-content {
    margin-bottom: (2 * $padding);
  }

  // Nodes
  .grid-24 {
    margin: 0;
    width: 960px !important;
  }

  .node {
    border: none;
  }
}
