//
// Header
//

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height-sm;
  opacity: 1;
  z-index: 100;
}

@include mq(mediumish) {
  .header-container {
    height: $header-height;
    opacity: 0.9;
    @include no-scale-flash;

    .is-scrolled & {
      transform: scale(1, $header-scale);
      transform-origin: top left;
      transition: transform 0.3s easeIn;
    }
  }

  .header__bar {
    @include no-scale-flash;

    .is-scrolled & {
      transform: scale(1, $header-scale-rev);
      transform-origin: top left;
      transition: transform 0.3s easeIn;
    }
  }
}
