//
// Layout
//

// Wrapper within each region to constrain the width to reasonable sizes at
// larger screen widths
.contain {
  @include clearfix;
  @include horizontal-center;
  padding: 0;

  @include mq(smallish) {
    padding: 0 $padding;
  }

  @include mq(mediumish) {
    max-width: 825px;

    .front & {
      max-width: 1080px;
    }
  }
}

// Page wrapper
.page-container {
  padding-top: $header-height-sm;

  @include mq(mediumish) {
    padding-top: 0;
  }
}

// Main content wrapper
.content-container {
  padding-top: $padding;
  padding-bottom: $padding;
  min-height: 670px;

  @include mq(smallish) {
    padding-bottom: (2 * $padding);
  }

  @include mq(mediumish) {
    padding-top: $page-top;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }
}

// Content regions
.region-content-top {
  margin: 0 0 2rem 0;
}

.region-content {
  margin: 0 0 2rem 0;
}

.region-content-bottom {
  padding: 1rem 0;
}
