//
// General page layout
//
// Note that the vast majority of this is done in Commerce Kickstart Theme and
// its parent theme, Omega. These are just specific overrides.
//

// Top margin

.zone-branding-wrapper {
  padding-top: $page-padding-top;
}

// Top margin with admin menu

body.toolbar {
  padding-top: 0 !important;
  margin-top: ($page-padding-top * 2);
}

// Content area

.zone-content {
  background-color: $blue_verylight;
  border-radius: $border-radius;
  @include card(1);
}

.region-content {
  position: relative;
}

.region-content-inner {
  padding-left: $padding;
  padding-right: $padding;
}
