//
// List (view) rows
//

.view-articles__row {
}

.view-articles__row--full {
  @include clearfix;
  border-top: 1px solid $dkblue;
}

.view-articles__row--panel {
  position: relative;
  padding-bottom: $padding;
  @include font-size(16px);
  background-color: lighten($ltblue, 15%);
  border-bottom: 1px solid $grey-shade200;
  transition: all .3s;

  @include mq(mediumish) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: $imagestyle-view_article;
    border-left: ($padding-px / 2) solid $white;
    border-right: ($padding-px / 2) solid $white;
    border-bottom: none;
  }

  @include mq(largeish) {
    width: 33.333333%;
  }

  @include is-on {
    background-color: $white;

     @include mq(mediumish) {
      .view-articles__title-link {
        background-color: rgba(255,255,255,0.9);
      }
    }
  }

  &:hover p a,
  &:hover h2 a {
    text-decoration: underline;
  }
}
