//
// List (view) fields
//

// Title

.view-articles__title {
  margin: $padding 0;
  padding: 0 $padding;
  line-height: 1;

  @include mq(mediumish) {
    width: 100%;
    padding: 0;
  }
}

.view-articles__title--full {
}

.view-articles__title--panel {
  @include font-size(24px);

  @include mq(mediumish) {
    position: absolute;
    margin: 0;
  }
}

// Title link

.view-articles__title-link {
}

.view-articles__title-link--full {
}

.view-articles__title-link--panel {
  @include mq(mediumish) {
    display: block;
    padding: $padding;
    background-color: rgba(255,255,255,0.7);
    transition: background-color 0.3s;

    @include is-on {
      background-color: rgba(255,255,255,0.9);
    }
  }
}

// Header image

.view-articles__header-image {
  margin: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.view-articles__header-image--full {
  max-width: 320px;
  @include horizontal-center;

  @include mq(mediumish) {
    float: right;
    margin: 0 0 $padding $padding;
  }
}

.view-articles__header-image--panel {
  max-width: 100%;
}

// Byline (reference)

.view-articles__byline {
  font-weight: $bold;
}

.view-articles__byline--full {
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

.view-articles__byline--panel {
  padding: 0 $padding;
}

// Posted-by date

.view-articles__date {
  margin: 0 0 $padding 0;
  @include font-size(14px);
  color: $grey-shade700;
}

.view-articles__date--full {
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

.view-articles__date--panel {
  padding: 0 $padding;
}

// Short summary

.view-articles__summary {
  margin: $padding 0;
}

.view-articles__summary--full {
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

.view-articles__summary--panel {
  padding: 0 $padding;
}

// Link within short summary

.view-articles__summary-link {
  color: $black;
}

.view-articles__summary-link--full {
}

.view-articles__summary-link--panel {
}

// Link to full article

.view-articles__link {
  display: block;
  font-weight: bold;

  em {
    font-family: $fontDefault;
    color: inherit;
  }
}

.view-articles__link--full {
  margin-bottom: (2 * $padding);
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

.view-articles__link--panel {
  padding: 0 $padding;
}
