//
// Author content type: Standard
//

/// Authors
/// @group content-based
/// @author Ivan Boothe

%author {
  .field-node--field-image-portrait {
    width: 100%;
    height: $imagestyle-portrait_height;
    margin: $padding 0;
    text-align: center;

    @include mq(smallish) {
      text-align: left;
    }

    @include mq(mediumish) {
      width: $imagestyle-portrait_width;
      float: right;
      margin: ($padding / 2) 0 ($padding * 2) ($padding * 2);
    }
  }

  .field-node--field-taxonomy-author-type {
    @include font-size(18px);
    font-weight: $bold;
  }

  .field-node--field-text-author-jobtitle {
    font-weight: $bold;
  }

  .field-node--field-text-author-organization {
    font-weight: $bold;
  }

  .field-node--field-taxonomy-author-location {
    margin: 0 0 $padding 0;
    @include font-size(22px);
    font-style: italic;
  }

  .field-node--field-text-author-bio {
    margin-top: 2 * $padding;

    a {
      @extend %link-basic;
    }
  }
}

/**
 * Component name:
 * `.node-content--author` - Inherits the %author placeholder. See <a href="/themes/dove/documentation/sassdoc/#placeholder-author">SassDoc</a>.
 *
 *     @example
 *     .node-content--author
 *       @extend %author;
 */
.node-content--author {
  @extend %author;
}
