//
// Author content type: Icons view mode
//

%author--icon {
  margin: 0;
  padding: 0;
  height: $imagestyle-portrait_height + ($line-width * 2);

  .node__content {
    height: $imagestyle-portrait_height;
  }
}

%author--icon__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding;
  background-color: $white;
  background-color: rgba(0,0,0,0.5);
  font-weight: $bold;
  text-align: left;
  @include font-size(18px);

  a {
    color: $yellow;

    @include is-on {
      color: $white;
    }
  }
}

%author--icon__image {
  height: $imagestyle-portrait_height;
  float: none;
  margin: 0;
}

%author--icon__jobtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  background-color: rgba($white,0.75);
  @include font-size(12px);
  line-height: 1;
  text-align: left;

  a {
    display: block;
    padding: ($padding / 4) $padding;
    color: $black;
  }
}

// Standalone icons

.node-content--author.node--view-mode-icons {
  @extend %author--icon;

  .node__title {
    @extend %author--icon__title;
  }

  .field-node--field-image-portrait {
    @extend %author--icon__image;
  }

  .field-node--field-text-author-jobtitle {
    @extend %author--icon__jobtitle;
  }
}

// View-based icons


