//
// Search results page
//

.block-current-search {
  margin-top: $padding;
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

// Title, e.g. "There are 7 titanium rings"
#region-breadcrumb .pseudo-breadcrumb-total-results {
  margin-left: 0;

  // Number
  em {
    color: $blue-verydark;
  }
}

// Search terms, e.g. "gold"
.current-search-item {
  position: relative;
  margin-top: ($padding * -0.5);
  height: ($padding * 4);
}

#region-breadcrumb .pseudo-breadcrumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding-bottom: ($padding / 2);
}
