// Headers
//
// Styleguide 2.1.0

%header {
  font-family: $fontDefault;
  text-rendering: optimizeLegibility;
}

// markup:
// <main><h1>H1 header</h1></main>
//
// Styleguide 2.1.1

%h1 {
  @extend %header;
  @include font-size(36px);
  line-height: 1;
  margin: 0 0 1rem 0;

  @include mq(smallish) {
    @include font-size(48px);
  }

  @include mq(mediumish) {
    @include font-size(60px);
    margin: 0 0 2rem 0;
  }
}

// markup:
// <h2>H2 header</h2>
//
// Styleguide 2.1.2

%h2 {
  @extend %header;
  @include font-size(32px);
  line-height: 0.9;
  margin: 0 0 2rem 0;

  @include mq(smallish) {
    @include font-size(48px);
  }
}

// markup:
// <h3>H3 header</h3>
//
// Styleguide 2.1.3

%h3 {
  @extend %header;
  @include font-size(28px);

  @include mq(smallish) {
    @include font-size(36px);
  }
}

// markup:
// <h4>H4 header</h4>
//
// Styleguide 2.1.4

%h4 {
  @extend %header;
  @include font-size(24px);
  font-weight: $bold;

  @include mq(smallish) {
    @include font-size(26px);
  }
}

// markup:
// <h5>H5 header</h5>
//
// Styleguide 2.1.5

%h5 {
  @extend %header;
  @include font-size(22px);
  font-weight: $ultra-bold;
  letter-spacing: 1px;
}

// markup:
// <h6>H6 header</h6>
//
// Styleguide 2.1.6

%h6 {
  @extend %header;
  @include font-size(20px);
  font-weight: $bold;
}

h1{
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}
