/* Page background */

body {
  background-color: #98ccfe;
}

/* Logo */

.zone-branding .region-branding .logo-img {
  width: 600px;
}

/* Popular (featured) themes menu */

.block-menu-themes {
  clear: left;
}

/* "User wrapper," which for visitors is just the shopping cart */

.zone-user-wrapper {
  background-color: #848484;
  background-color: rgba(132, 132, 132, 0.7);
}
