/* Page background */

body {
  background-color: #98ccfe;
}

.zone-branding-wrapper {
  padding-top: 24px;
}

/* Admin toolbar fix */

body.toolbar {
  padding-top: 0 !important;
  margin-top: 52px;
}

/* Logo */

.zone-branding .region-branding .logo-img {
  width: 600px;
}

/* Main menus */

.navigation .primary-menu.inline {
  float: none;
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
  top: 2.5em;
  background-color: #137dd1;
}

.navigation .primary-menu.inline::after { /* clearfix */
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.navigation .second-menu.inline {
  float: none;
  margin: 0 0 1em 0;
  padding: 0 1em;
  position: relative;
  top: -2.5em;
  background-color: #54b2fc;
}

.navigation .second-menu.inline::after { /* clearfix */
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.block-menu-tertiary-navigation {
}

/* Primary navigation */

.navigation .primary-menu.inline ul {
  margin: 0;
}

.navigation .primary-menu.inline ul li {
  margin: 0;
  padding: 5px 0;
}

.navigation .primary-menu.inline ul li a {
  margin-right: 1.5em;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

.navigation .primary-menu.inline ul li a:hover,
.navigation .primary-menu.inline ul li a:active,
.navigation .primary-menu.inline ul li a:focus {
  background-color: transparent;
}

.navigation .primary-menu.inline ul li.first a {
  border-left: none;
  border-radius: 0;
}

.navigation .primary-menu.inline ul li.last a {
  padding: 0 5px;
  /*border-left: 1px dotted #fff;*/
  border-right: none;
  border-radius: 0;
  background-color: #fff;
  color: #137dd1;
}

/* Secondary navigation */

.navigation .second-menu.inline ul {
  margin: 0;
}

.navigation .second-menu.inline ul li {
  margin: 0;
  padding: 5px 0;
}

.navigation .second-menu.inline ul li a {
  margin-right: 1.5em;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

.navigation .second-menu.inline ul li a:hover,
.navigation .second-menu.inline ul li a:active,
.navigation .second-menu.inline ul li a:focus {
  background-color: transparent;
}

.navigation .second-menu .links::before {
  content: "Popular »";
  margin-right: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

.navigation .second-menu.inline ul li.first a {
  border-left: none;
  border-radius: 0;
}

.navigation .second-menu.inline ul li.last a {
  padding: 0 5px;
  /*border-left: 1px dotted #000;*/
  border-right: none;
  border-radius: 0;
  background-color: #fff;
  color: #54b2fc;
}

/*
.block-menu-themes {
  clear: left;
  padding-top: 2em;
  line-height: 0.5em;
}

.block-menu-themes .block-title,
.block-menu-themes .content {
  display: inline-block;
}

.block-menu-themes ul.menu li {
  display: inline-block;
  margin: 0 0.25em;
}

.block-menu-themes ul.menu li.leaf {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.block-menu-themes ul.menu li.leaf a {
  padding: 0.5em 1em;
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 10px;
  font-weight: bold;
  color: #000;
}

.block-menu-themes ul.menu li.leaf a:hover,
.block-menu-themes ul.menu li.leaf a:active {
  background-color: #000;
  color: #fff;
}
*/

/* Tertiary menu */

.block-menu-tertiary-navigation ul.menu li.collapsed,
.block-menu-tertiary-navigation ul.menu li.leaf {
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
}

.block-menu-tertiary-navigation ul.menu li.collapsed a,
.block-menu-tertiary-navigation ul.menu li.leaf a {
  background-color: #fff;
  padding: 10px 10px 11px 10px;
  font-weight: bold;
  opacity: 0.8;
}

/* "User wrapper," i.e. the top bar */

.zone-user-wrapper {
  background-color: #848484;
  background-color: rgba(132, 132, 132, 0.7);
}

/* Home page: Nodes */

.front .grid-24 {
  margin: 0;
  width: 960px !important;
}

.front .node {
  border: none;
}

/* Home page: Featured grid */

.view-home-featured-categories {
  background-color: rgba(255,255,255,0.25);
  padding-top: 2em;
  text-align: center;
  border-radius: 8px;
}

.view-home-featured-categories .views-row {
  width: 250px;
  display: inline-block;
  padding: 1em;
  text-align: center;
  vertical-align: top;
}

.view-home-featured-categories h2 {
  margin-bottom: 0;
  padding-left: 3px;
  font-size: 1.5em;
}

.view-home-featured-categories a:link,
.view-home-featured-categories a:visited {
  color: #000;
}

.view-home-featured-categories .node {
  margin-top: 0;
  padding: 0;
}

.view-home-featured-categories .container-24 {
  padding-left: 70px !important;
  width: auto !important;
}

.view-home-featured-categories .container-24.prefix-1 {
  padding-left: 10px !important;
}

.view-home-featured-categories .node {
  margin-bottom: 0;
}

.view-home-featured-categories .node img {
  border: 3px rgba(255,255,255,0.5) solid;
}

.view-home-featured-categories .taxonomy-term-description {
  margin: 0 5px 10px 10px;
  text-align: left;
}

/* Product lists: Faceted search */

.region-sidebar-first .block-facetapi {
  margin-left: 0;
  padding-left: 0;
  margin-right: 15px;
}

.region-sidebar-first .block-facetapi ul li a {
  color: #555;
}

ul.facetapi-commerce-search-api-fancy li {
  border: none;
}

.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
  padding-left: 0;
}

/* Product lists: Display sorting */

.block-search-api-sorts .content ul.search-api-sorts li a {
  background-color: #777;
}
