/* Page background */

body {
  background-color: #98ccfe;
}

/* Logo */

.zone-branding .region-branding .logo-img {
  width: 600px;
}

/* Popular (featured) themes menu */

.block-menu-themes {
  clear: left;
  padding-top: 2em;
  line-height: 0.5em;
}

.block-menu-themes .block-title,
.block-menu-themes .content {
  display: inline-block;
}

.block-menu-themes ul.menu li {
  display: inline-block;
  margin: 0 0.25em;
}

.block-menu-themes ul.menu li.leaf {
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

.block-menu-themes ul.menu li.leaf a {
  padding: 0.5em 1em;
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 10px;
  font-weight: bold;
  color: #000;
}

.block-menu-themes ul.menu li.leaf a:hover,
.block-menu-themes ul.menu li.leaf a:active {
  background-color: #000;
  color: #fff;
}

/* Main menus */

.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  border-left: 1px dotted #fff;
}

/* Secondary menu */

.navigation .second-menu  ul li.last a {
  padding: 12px 6px;
}

/* "User wrapper," which for visitors is just the shopping cart */

.zone-user-wrapper {
  background-color: #848484;
  background-color: rgba(132, 132, 132, 0.7);
}

/* Home page: Nodes */

.front .grid-24 {
  margin: 0;
  width: 960px !important;
}

.front .node {
  border: none;
}

/* Home page: Featured grid */

.view-home-featured-categories {
  background-color: rgba(255,255,255,0.25);
  padding-top: 2em;
  text-align: center;
  border-radius: 8px;
}

.view-home-featured-categories .views-row {
  width: 250px;
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.view-home-featured-categories h2 {
  margin-bottom: 0;
  padding-left: 3px;
  font-size: 1.5em;
}

.view-home-featured-categories a:link,
.view-home-featured-categories a:visited {
  color: #000;
}

.view-home-featured-categories .node {
  margin-top: 0;
  padding: 0;
}

.view-home-featured-categories .container-24 {
  padding-left: 70px !important;
  width: auto !important;
}

.view-home-featured-categories .node img {
  border: 3px rgba(255,255,255,0.5) solid;
}

/* Product lists: Faceted search */

.region-sidebar-first .block-facetapi {
  margin-left: 0;
  padding-left: 0;
  margin-right: 15px;
}

.region-sidebar-first .block-facetapi ul li a {
  color: #555;
}

ul.facetapi-commerce-search-api-fancy li {
  border: none;
}

.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
  padding-left: 0;
}

/* Product lists: Display sorting */

.block-search-api-sorts .content ul.search-api-sorts li a {
  background-color: #777;
}
