//
// Featured work icons
//

.view-work .view-content {
  @include no-block-padding;
  text-align: center;
}

.featured-work {
  display: inline-block;
  width: $imagestyle-work_small-width;
  height: $imagestyle-work_small-height;
  overflow: hidden;
  margin-bottom: $padding-px;
  @include card(1);
}

.featured-work:nth-of-type(odd) {
  margin-right: $padding-px;
}

.featured-work:last-of-type {
  margin-right: 0;
}

.featured-work__link {
  display: block;
  width: $imagestyle-work_small-width;
}

.featured-work__image {
  display: block;
  height: $imagestyle-work_small-height;
}

.featured-work__text {
  position: relative; // so its background can overlap the image
  padding: 0 1rem;
  text-align: left;
  transform: translateY(-80px);
  height: $imagestyle-work_small-height;
  transition: all 0.5s;

  .featured-work__link:hover &,
  .featured-work__link:active &,
  .featured-work__link:focus & {
    transform: translateY(($imagestyle-work_small-height * -1));
    background-color: rgba($blue, 0.7);
  }
}

.featured-work__title {
  padding: 15px 0;
  font-size: 25px;
  line-height: 25px;
  font-weight: $normal;
  color: $white;
  text-shadow: rgba($black, 1) 0 0 4px;
}

.featured-work__summary {
  @include font-size(14px);
  color: $white;
  font-weight: $normal;
  text-shadow: rgba($black, 1) 0 0 2px;
}
