//
// Location information
//

.node--view-mode-full .field-node--field-taxonomy-work-location {
  float: left;
  margin: 0.35rem 2rem 2rem 0;

  a {
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-weight: $bold;
    background-color: $dkblue;
    color: $white;

    @include is-on {
      background-color: $white;
      color: $dkblue;
    }
  }
}
