//
// Work tags as displayed on nodes
//

.path-node .field-node--field-taxonomy-work-tags {
  .field-item {
    display: inline-block;
    margin: 0 0 0 0.5rem;
  }

  a {
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    background-color: $blue;
    color: $white;
    font-weight: $bold;

    @include is-on {
      background-color: $white;
      color: $dkblue;
    }
  }
}

.field-node--field-taxonomy-work-tags__label {
  font-weight: $ultra-bold;
}
