//
// Work content types as displayed by the taxonomy term pages
//

// Taxonomy block titles ("what" page)

#block-views-block-work-organize,
#block-views-block-work-train,
#block-views-block-work-grow,
#block-views-block-work-centennial {
  margin-bottom: 3rem;
  background-color: $blue-bg2;
  @include card(1);
}

#block-views-block-work-organize,
#block-views-block-work-train,
#block-views-block-work-grow {
  .block__title {
    @extend %work-title--icon;
    background-color: $blue-bg3;
  }
}

#block-views-block-work-centennial {
  .block__title {
    @extend %work-title;
    background-color: $blue-bg3;
  }
}

#block-views-block-work-organize .block__title {
  @extend %work-title--icon--organize;
}

#block-views-block-work-train .block__title {
  @extend %work-title--icon--train;
}

#block-views-block-work-grow .block__title {
  @extend %work-title--icon--grow;
}

// Taxonomy display ("organize", "train", "grow", "centennial" pages)

.view-taxonomy-term .node-content--work {

  .node__title {
    @extend %work-title;
    margin-bottom: 0 !important;
    padding: $padding;
    background-color: $blue-bg2;
    border-bottom-width: 0;

    a {
      color: $blue;

      @include is-on {
        color: $dkblue;
      }
    }
  }

  .field-node--field-image-work-featured .field__item a {
    display: block;
  }

  .field-node--field-text-work-summary {
    padding: 0 ($padding / 2) ($padding / 2) ($padding / 2);
  }
}

// Front page display

.work-categories--front {

}
