//
// Faceted search elements
//

.region-sidebar-first .block-facetapi {
  margin: 0 ($padding / 4) $padding 0;
  padding: 0;
  border-top: none;

  &:first-of-type {
    margin-top: $padding;

    @include mq(mediumish) {
      margin-top: ($padding * 3.5);
    }
  }

  // Section titles
  .block-title {
    @extend %header;
    margin-bottom: ($padding / 2);
    padding-bottom: 0;
    @include font-size(18px);
    font-weight: $thin;

    @include mq(mediumish) {
      @include font-size(24px);
    }
  }

  // Checkbox-link facets and Search API aggregate facets (e.g. keywords)
  .facetapi-checkbox,
  .facetapi-facetapi-links {
    font-family: $font-default;
    font-weight: $normal;
    color: $black;
  }

  .facetapi-checkbox.facetapi-inactive,
  .facetapi-facetapi-links .facetapi-inactive {
    font-family: $font-default;
    @include font-size(14px);
    font-weight: $normal;
    padding-left: ($padding / 10);
    color: $black;
    border-bottom: none;

    @include is-on {
      text-decoration: none;
      color: $blue-verydark;
    }
  }

  .facetapi-active.facetapi-active {
    background-position: left center;
    border-bottom: none;
  }

  // Price slider
  #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal {
    position: relative;

    .text-range {
      margin-bottom: 1rem;
      @include font-size(14px);
      font-style: italic;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    // slider wrapper
    .yui3-g {
      position: relative;
    }

    .form-item-range-from,
    .form-item-range-to {
      margin-top: 0;

      label,
      .form-text {
        display: inline-block;
        vertical-align: bottom;
      }

      .form-text {
        width: auto;
      }
    }

    .form-item-range-to {
      margin-bottom: 0;
    }

    .range-slider-box {
      margin: 0.5em 1rem;
    }

    .form-submit {
      @extend %button--tag;
      position: absolute;
      bottom: 2px;
      right: 0;
      padding: ($padding / 3) ($padding / 2);
    }
  }

  // Colors
  &.field_product_field_color {

    ul.facetapi-commerce-search-api-fancy {
      margin-bottom: 0;

      .leaf {
        border: none;
        line-height: 0;

        // link element
        .facetapi-inactive {
        }

        // span element (colored box)
        .commerce-search-api-fancy-attributes-color {
          border: 3px solid #fff;
          transition: $transition-long;

          @include is-on {
            border-color: transparent;
            transform: size(1.01);
          }
        }
      }
    }
  }

  // Keywords (elements)
  &.search_api_multi_aggregation_1 {

    // "Show more"/"Show fewer" link
    .facetapi-limit-link {
      font-family: $font-default;
      color: $blue-dark;
      font-style: italic;
      text-decoration: underline;

      @include is-on {
        text-decoration: none;
      }
    }
  }
}
