//
// List of rings, in a grid
//

// Note: The ridiculous repeated selectors below are necessary to override
// Commerce Kickstart's specificity, which applies styles only to the
// page-products context. Without this selector hack, we'd have to put
// !important on many of the styles.

.view-display-products.view-display-products.view-display-products.view-display-products,
.view-collection-products.view-collection-products.view-collection-products.view-collection-products.view-collection-products,
.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term,
.view-keywords-products {

  .view-content {

    .all-products {
      text-align: center;
    }

    // Item wrapper
    li.views-row {
      display: inline-block;
      float: none;
      margin-left: 0;
      margin-bottom: $padding;
      width: $imagestyle-product_medium;
      min-height: 350px;
      padding: 2px;
      text-align: left;

      @include is-on {
        background-color: rgba($blue_dark, 0.2);
      }
    }

    .item-list .products-per-collection li .commerce-product-field {
      margin-bottom: 0;
    }

    // Title header
    li header {
      padding-top: 0;
      background-image: none;

      h2 {
        margin: 0 ($padding / 10);
        padding: 0;
        @include font-size(16px);
      }

      a {
        display: block;
        padding-top: ($padding / 2);
        color: $black;
        font-weight: $normal;
        font-size: inherit;
      }
    }

    // Price
    .commerce-product-field .field-item {
      margin-top: ($padding / 6);
      border-top: 1px $black dotted;
      text-align: right;
      @include font-size(24px);
      font-weight: $bold;
      color: $blue_dark;
    }
  }
}
