//
// Page title (header)
//

.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  background-color: transparent;
  margin-bottom: 0;
  padding-right: 8px;
}

.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  @extend %header;
  top: -10px;
  left: 2px;
  margin-bottom: $padding;
  font-weight: $normal;
  line-height: 1em;
  text-transform: none;
  text-shadow: none;
  color: $black;
  border-bottom: 1px $black solid;
  @include descenders;
}
