//
// Page title (header)
//

.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  background-color: transparent;
  margin-bottom: 0;
  padding-right: 8px;
}

.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  @extend %page-title--product-list;
}
