//
// Breadcrumbs
//

.breadcrumb {
  margin: -10px -10px 0;
  padding: ($padding * 0.5) ($padding * 0.75);
  background-color: $white-off;
  border: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include mq(smallish) {
    padding: $padding ($padding * 1.6);
  }

  a {
    display: inline-block;
    color: $blue-verydark;
    font-weight: $thin;

    @include is-on {
      color: $blue;
      text-decoration: none;
    }

    @include mq(smallish) {
      font-weight: $normal;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .front & {
    display: none;
  }
}
