//
// Checkout process pages
//

// Progress block
.block-commerce-checkout-progress {
  padding-top: (0.6 * $padding);
  background-color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.commerce-checkout-progress {

  .first {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .visited {
    color: $blue;
  }
}

.page-checkout {

  #commerce-checkout-form-checkout,
  #commerce-checkout-form-review,
  #commerce-checkout-form-shipping {

    // Section headers
    fieldset legend {
      border-bottom-color: $black;
    }

    // State dropdowns
    .form-select.state {
      max-width: 280px;
    }

    // Checkout buttons
    fieldset.checkout-buttons .fieldset-wrapper {
      margin: 0 0 $padding 0;
    }

    // Loading spinner
    .checkout-processing {
      @extend %is-loading--drupal;
    }

    // Continue checkout button
    .checkout-continue.checkout-continue.checkout-continue {
      @extend .button--inline;
      @include i-heart($padding-px, ($padding-px / 2), $pad: ($padding-px * 2));

      @include is-on {
        @include card(0);
        @include a-grow(1);
        @include i-heart($padding-px, ($padding-px / 2), $pad: ($padding-px * 2), $color: $red);
      }
    }

    // Cancel checkout buttons
    .checkout-cancel,
    .checkout-back {
      font-family: $fontDefault;

      @include is-on {
        text-decoration: none;
      }
    }
  }

}

// Line items
.commerce-responsive-table .views-row .field-content {
  @include font-size(18px);
}

// Total
.field-name-commerce-order-total .field-items {
  background-color: $white;
}

// Are billing and shipping addresses the same?
.commerce-customer-profile-copy {
  .placeholder {
    font-weight: $bold;
    font-style: normal;
    font-family: $fontDefault;
    color: $blue_verydark;
  }
}

// Shipping choices
.page-checkout-shipping {

  .commerce_shipping {
    margin: $padding 0;

    legend {
      display: none; // No need for this to be visible, even accessibly.
    }
  }

  .form-item-commerce-shipping-shipping-service {

    @include is-on {
      background-color: transparent;
    }

    label {
      margin-left: ($padding / 2);
      padding: 0 ($padding / 2);

      @include is-on {
        background-color: $white;
      }
    }

    .description {
      @include font-size(14px);
    }
  }
}
