//
// Checkout process pages
//

// Progress block
.block-commerce-checkout-progress {
  padding-top: ($padding / 3);
  background-color: $white;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.commerce-checkout-progress .first {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.page-checkout {

  #commerce-checkout-form-checkout,
  #commerce-checkout-form-review {

    // Section headers
    fieldset legend {
      border-bottom-color: $black;
    }

    // Checkout buttons
    fieldset.checkout-buttons .fieldset-wrapper {
      margin: 0 0 $padding 0;
    }

    // Continue checkout button
    .checkout-continue.checkout-continue.checkout-continue {
      @extend .button--inline;
      @include i-heart($padding-px, ($padding-px / 2), $pad: ($padding-px * 2));

      @include is-on {
        @include card(0);
        @include a-grow(1);
        @include i-heart($padding-px, ($padding-px / 2), $pad: ($padding-px * 2), $color: $red);
      }
    }

    // Cancel checkout button
    .checkout-cancel {
      font-family: $fontDefault;

      @include is-on {
        text-decoration: none;
      }
    }
  }

}

// Line items
.commerce-responsive-table .views-row .field-content {
  @include font-size(18px);
}

// Total
.field-name-commerce-order-total .field-items {
  background-color: $white;
}

// Are billing and shipping addresses the same?
.commerce-customer-profile-copy {
  .placeholder {
    font-weight: $bold;
    font-style: normal;
    font-family: $fontDefault;
    color: $blue_verydark;
  }
}
