//
// Ring categories featured on the home page
//

.featured-categories {
  padding-top: 2em;
  text-align: center;

  .taxonomy-term {
    padding: $padding 0;
    cursor: pointer;
    border: 1px $white-off solid;
    border-radius: $border-radius;
    transition: $transition;
    @include card(0);

    @include is-on {
      background-color: $white-off;
      border-color: transparent;
      @include card(1);
    }
  }
}

.featured-categories__title {
  margin-bottom: $padding;
  padding: 0 $padding;
  @include font-size(24px);
  font-weight: $thin;
}

.featured-categories__item {
  margin: 0 $padding $padding $padding;
  width: ($imagestyle-product_medium + 2px);
  display: inline-block;
  text-align: center;
  vertical-align: top;

  .field-name-field-cat-featured-rings {

    .node {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    .container-24 {
      padding-left: 0 !important;
      width: auto !important;
    }
  }

  .links.node-links {
    display: none;
  }

  .taxonomy-term-description {
    margin: 0;
    padding: 0 $padding;
    text-align: left;

    p {
      margin-bottom: $padding;
      @include font-size(18px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
