//
// Related and similar rings, displayed on individual ring pages.
//
// These are created differently, but appear very similarly on the front-end.
//

%otherrings {
  @include clearfix;
}

%otherrings__label {
  @extend %header;
  margin-bottom: $padding;
  @include font-size(24px);
  line-height: 1.5;
  font-weight: $thin;
  border-bottom: 1px $black solid;
}

%otherrings__items {
  @include clearfix;
}

%otherrings__item {
  display: inline-block;
  width: $imagestyle-product_thumbnail;
  margin-right: $padding;

  @include is-on {
    background-color: rgba($blue_dark, 0.2);

    .container-24.prefix-1 .commerce-product-field-field-images a {
      box-shadow: 0 0 10px $blue;
    }

    .container-24.prefix-1 .field-name-field-ring-name a {
      color: $blue_verydark;
    }
  }

  .container-24.prefix-1 {
    width: $imagestyle-product_thumbnail;
    padding-left: 0;
    text-align: center;

    .commerce-product-field-field-images {
      padding-right: 0;
      padding-bottom: 0;
      min-height: auto;

      a {
        display: block;
        width: $imagestyle-product_thumbnail;
      }
    }

    .field-name-field-ring-name {
      margin-top: ($padding / 4);

      a {
        @include font-size(14px);
        font-weight: $bold;
        color: $blue_dark;
      }
    }

    .field-name-commerce-price {
      margin-top: ($padding / 4);
      @include font-size(16px);
      font-weight: $bold;
    }
  }
}

.block-similar-rings-sr-elements,
.field-name-field-related-rings,
.block-similar-rings-sr-collections,
.block-similar-rings-sr-colors {
  @extend %otherrings;
}

.field-name-ring-similar-rings-header .block-title,
.block-similar-rings-sr-elements .block-title,
.field-name-field-related-rings__label,
.block-similar-rings-sr-collections .block-title,
.block-similar-rings-sr-colors .block-title {
  @extend %otherrings__label;
}

.field-name-field-related-rings__items,
.sr {
  @extend %otherrings__items;
}

.field-name-field-related-rings__item,
.sr__item {
  @extend %otherrings__item;
}

// Combining similar (automatically chosen, based on elements) and related
// (manually chosen, with entityreference) into one block.

.block-similar-rings-sr-elements,
.block-similar-rings-sr-elements .block-inner,
.block-similar-rings-sr-elements .content,
.block-similar-rings-sr-elements .view-similar-rings,
.block-similar-rings-sr-elements .view-content,
.field-name-field-related-rings,
.field-name-field-related-rings__items {
  display: inline-block;
}
