//
// Overrides to the Tooltipster partial in sass/global/vendor.
//

.tooltipster-default {
  border: none;
  background-color: rgba($black, 0.9);

  .tooltipster-content {
    font-family: $font-default;
    @include font-size(14px);
    font-weight: $normal;
    text-align: center;
  }
}

.tooltipster-blue {
  background-color: $blue;
}
