// Text fields and text areas
//
// markup:
// <div class="form-item"><input type="text" value="text field: Lorem ipsum"></div>
// <div class="form-item"><textarea>text area: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ante non dolor viverra iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In adipiscing pulvinar eros, vitae dictum elit cursus a. Praesent a hendrerit urna. Maecenas neque libero, viverra in neque at, posuere tempor metus.</textarea></div>
//
// Styleguide 3.3.2

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  display: block;
  background: none;
  border: 1px solid $blue_light;
  background-color: $white;
  width: 100%;
  padding: 0.3rem;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  transition: border 0.3s;
  @include font-size(18px);
  color: $blue;
  font-family: $fontDefault;
  font-weight: $thin;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
