//
// Add to cart area styles
//

.page-node {

  // Add to cart area
  .field-type-commerce-product-reference form.commerce-add-to-cart,
  .field-name-field-product {
    padding: 0;
    background-image: none;
  }

  // Add to cart button
  .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
    display: block;
    width: 90%;
    margin: $padding 0 0 0;
    padding: ($padding / 2) $padding;
    background-color: $blue;
    background-image: none;
    @include font-size(24px);
    font-family: $fontDefault;
    font-weight: $thin;
    border-radius: $border-radius;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    @include card(1);
    @include i-heart(($padding-px * 2), ($padding-px / 2));

    @include is-on {
      @include card(0);
      @include i-heart(($padding-px * 2), ($padding-px / 2), $color: $red);
    }

    &:hover,
    &:focus {
      background-color: $blue_dark;
    }

    &:active {
      text-shadow: none;
    }

    &.is-clicked {
      @include a-zoomfade(1.25);
    }
  }

  .is-adding {
    margin-top: ($padding * -2);
    @include font-size(16px);
    font-weight: $normal;
    @include a-loading;
  }
}
