//
// Confirmation modal when an item is added to the cart
//

.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation {
  width: 70%;
  margin-left: -35% !important;
  padding-bottom: $padding;

  // Title
  .added-product-title {
    @include font-size(16px);
    font-family: $fontHighlight;
    font-style: italic;
    text-transform: none;
  }

  // Buttons
  .button {
    width: 90%;

    @include is-on {
      @include a-grow(1);
    }

    &.checkout a {
      text-decoration: none;
      @extend %heart-click;

      @include is-on {
        @include card(0);
      }
    }

    &.continue {
      font-weight: $normal;
      @include card(0);
    }
  }

  // Item area
  .view-confirm-message-product-display {
    width: 55%;
  }

  .view-content {
    padding: ($padding / 2) 0 0 ($padding * 1.5);
  }

  // Ring name
  .field-name-title-field h5 {
    @include font-size(20px);
  }

  // Cart total
  .views-field-commerce-total {

    .views-label-commerce-total,
    .field-content {
      float: left;
      padding-top: 0;
      @include font-size(18px);
    }
  }
}
