//
// Shopping cart block
//

.block-shopping-cart-block {
  margin: 0 $padding 0 0 !important;

  @include mq(smallish) {
    position: absolute;
    height: ($padding * 3);
    top: 100%;
    right: ($padding * 2);
    margin: ($padding * -2.25) 0 0 0 !important;
  }

  .content {
    @include card(1);
    margin: 0 0 $padding;
    padding: 0;
    background-color: $white;
    background-image: none;
    border-radius: $border-radius;

    @include mq(tinyish) {
      @include i-ringbox-empty(25px, 5px, 5px, ($padding * 2.5), $blue-verydark);
    }

    @include mq(smallish) {
      margin: 0;
    }

    .has-items & {
      @include mq(tinyish) {
        @include i-ringbox(25px, 5px, 5px, ($padding * 2.5), $blue-verydark);
      }
    }

    .view-shopping-cart {

      // Empty cart message
      .view-empty {
        padding: 0 ($padding / 2);

        @include mq(tinyish) {
          padding: 0 $padding 0 0;
        }

        p {
          margin-bottom: 0;
          font-family: $font-default;
          @include font-size(12px);
          line-height: 3;
          font-weight: $thin;
          color: $blue-verydark;

          @include mq(tinyish) {
            @include font-size(14px);
            line-height: 2.5;
          }
        }
      }

      .line-item-summary {
        height: auto;

        // "1 item"
        .line-item-quantity {
          padding-top: ($padding / 5);
          padding-left: ($padding / 4);
          @include font-size(14px);
          font-family: $font-default;
          font-weight: $normal;
          color: $black;

          @include mq(tinyish) {
            padding-left: 0;
          }
        }

        // total
        .line-item-total {
          padding: ($padding / 5) ($padding / 4) 0;
          @include font-size(14px);
          font-family: $font-default;
          font-weight: $thin;

          @include mq(tinyish) {
            padding: ($padding / 5) ($padding / 2) 0;
          }

          @include mq(smallish) {
            padding: ($padding / 5) $padding 0;
          }
        }

        ul.links {
          margin: 0;
          padding: 0;
          background-color: transparent;
          @include font-size(16px);

          @include mq(smallish) {
            width: auto;
          }

          // view cart
          .line-item-summary-view-cart a {
          }

          // checkout
          .line-item-summary-checkout a {
            display: block;
            padding: 0 ($padding / 2);
            font-family: $font-default;
            font-weight: $normal;
            line-height: 2.15;
            color: $white;
            background-color: $blue-verydark;
            border-radius: $border-radius;
            @include heart-click;

            @include is-on {
              color: $red;
              background-color: $blue;
              text-decoration: none;
            }

            @include mq(smallish) {
              height: ($padding * 4);
              margin-top: ($padding * -0.5);
              margin-right: ($padding * -1);
              padding: 0 $padding;
              line-height: ($padding * 3);
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              @include a-slidehover("up");
              @include card(1);
            }
          }
        }
      }
    }
  }
}
