//
// Shopping cart block
//

.block-shopping-cart-block {
  z-index: 5000;
  margin: 0;

  @include mq(smallish) {
    z-index: 0;
  }

  .content {
    position: relative;
    margin: ($padding / 8) 0 0;
    background-color: transparent;
    @include i-ringbox-empty(25px, ($padding-px / 2), ($padding-px / 2), ($padding * 2.5), $blue_verydark);

    .has-items & {
      @include i-ringbox(25px, ($padding-px / 2), ($padding-px / 2), ($padding * 2.5), $blue_verydark);
    }

    @include mq(smallish) {
      margin: $padding ($padding / 2) 0;
      background-color: $white;
      background-position: 5px ($padding / 2);
      border-radius: $border-radius;
      @include card(1);
    }

    .view-shopping-cart {

      // Empty cart message
      .view-empty {
        padding-right: $padding;

        @include mq(smallish) {
          display: block;
        }

        p {
          padding-top: ($padding / 4);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;
          color: $blue_verydark;
        }
      }

      .line-item-summary {
        height: auto;

        // "1 item"
        .line-item-quantity {
          padding-top: ($padding / 4);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $normal;
          color: $black;
        }

        // total
        .line-item-total {
          padding-top: ($padding / 4);
          padding-left: $padding;
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;
        }

        ul.links {
          margin: 0;
          padding: 0;
          background-color: transparent;
          @include font-size(16px);

          // view cart
          .line-item-summary-view-cart a {
          }

          // checkout
          .line-item-summary-checkout a {
            display: block;
            margin-top: ($padding / 5);
            font-family: $fontDefault;
            font-weight: $normal;
            color: $blue_dark;
            @include heart-click($initial_color: $blue_dark);

            @include is-on {
              color: $red;
              text-decoration: none;
            }

            @include mq(smallish) {
              position: relative;
              right: ($padding * -1);
              margin-top: ($padding / 2 * -1);
              padding: ($padding * 2/3) $padding ($padding * 2) $padding;
              color: $white;
              background-color: $blue_verydark;
              border-top-left-radius: $border-radius;
              border-top-right-radius: $border-radius;
              @include a-slidehover("up");
              @include card(1);

              @include is-on {
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }
}
