//
// Shopping cart block
//

.block-shopping-cart-block {
  margin: 0;

  .content {
    position: relative;
    margin: 0 0 $padding;
    padding: 0;
    background-color: $white;
    border-radius: $border-radius;
    @include card(1);
    @include i-ringbox-empty(25px, 5px, 5px, ($padding * 2.5), $blue_verydark);

    .has-items & {
      @include i-ringbox(25px, 5px, 5px, ($padding * 2.5), $blue_verydark);
    }

    @include mq(smallish) {
      margin: $padding ($padding / 2) 0;
    }

    .view-shopping-cart {

      // Empty cart message
      .view-empty {
        padding-right: $padding;

        @include mq(smallish) {
          display: block;
        }

        p {
          padding-top: ($padding / 5);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;
          color: $blue_verydark;
        }
      }

      .line-item-summary {
        height: auto;

        // "1 item"
        .line-item-quantity {
          padding-top: ($padding / 5);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $normal;
          color: $black;
        }

        // total
        .line-item-total {
          padding: ($padding / 5) ($padding / 4) 0;
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;

          @include mq(smallish) {
            padding: ($padding / 5) $padding 0;
          }
        }

        ul.links {
          margin: 0;
          padding: 0;
          background-color: transparent;
          @include font-size(16px);

          @include mq(smallish) {
            width: auto;
          }

          // view cart
          .line-item-summary-view-cart a {
          }

          // checkout
          .line-item-summary-checkout a {
            display: block;
            padding: 0 ($padding / 2);
            font-family: $fontDefault;
            font-weight: $normal;
            line-height: 2.15;
            color: $white;
            background-color: $blue_verydark;
            border-radius: $border-radius;
            @include heart-click;

            @include is-on {
              color: $red;
              background-color: $blue;
              text-decoration: none;
            }

            @include mq(smallish) {
              position: relative;
              right: ($padding * -1);
              margin-top: ($padding / 2 * -1);
              padding: ($padding * 2/3) $padding ($padding * 2) $padding;
              border-bottom-left-radius: 0;
              @include a-slidehover("up");
              @include card(1);
            }
          }
        }
      }
    }
  }
}
