//
// Front Cover
//

// Cover

.front-section.cover {
  width: 100%;
  height: 100vh;
  background: url('../images/min/cover_ferguson-march.jpg') no-repeat center bottom;
  background-size: cover;
  animation: blurIn 1.5s;

  @include mq(mediumish) {
    background-attachment: fixed;
  }

  h1 {
    @include font-size(40px);
    margin: 0 0 1rem 0;
    line-height: 1;
    color: $dkblue;

    @include mq(mediumish) {
      display: none; // @todo: Finalize whether this should be removed for real.
      @include font-size(88px);
    }
  }
}

.cover-title {
  text-align: center;
  margin: 0;

  @include mq(smallish) {
  }

  @include mq(mediumish) {
    height: 100vh;
    position: relative;
  }

  @include mq(hugeish) {
    max-width: 1080px;
  }
}

.drupal-logo {
  vertical-align: bottom;
  width: 50px;
  height: 56px;
  @include mq(mediumish) {
    width: 100px;
    height: 113px;
  }
}

.drupal-logo path {
  fill: $blue;
  transition: all .3s;
}

.cover-title:hover .drupal-logo path {
  fill: $yellow;
}

.intro-title {
  margin: 0 0 1rem;
  color: $white;
  @include font-size(18px);
  line-height: 1.1;
  font-weight: $bold;
  text-shadow: rgba($black, 1) 0 0 4px;

  @include mq(mediumish) {
    @extend %headline--xl;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    opacity: 0.9;
  }

  @include mq(875px) {
    @include font-size(49px);
  }
}

// Leaving space for the CTA button
@include mq(mediumish) {
  .intro-title::after {
    display: inline-block;
    content: '';
    width: 12rem;
  }
}

.cta-button {
  @extend .button--cta;

  @include mq(mediumish) {
    position: absolute;
    bottom: 0.3rem;
    right: 0.75rem;
  }
}

.arrow {
  display: inline-block;
  margin: -14px 0 -11px -4px;
  width: 32px;
  height: 32px;
  fill: $white;
  animation: pulsate 2s linear infinite;
  opacity: 1;
}

.cta-button:hover .arrow {
  fill: $dkblue;
}
