//
// Front publications
//

.front-section.publications {
  width: 100%;
  max-width: 100%;
  padding: (3 * $padding) 0;
  @extend %pattern--paper;

  .block__title {
    position: absolute;
    top: (4 * $padding);
    left: $padding;
    @extend %headline--block;
  }

  .field__item img {
    width: 100%;
  }
}
