//
// Front featured store items
//

.front-section.featured-store {
  background: $grey-shade50;
  border-bottom: 1px solid $grey-shade200;
  text-align: center;
  padding: 1.5rem 0;

  @include mq(mediumish) {
    padding: 2.5rem 0;
  }

  > .contain {
    padding-bottom: 5rem;

    @include mq(mediumish) {
      padding-bottom: 6rem;
    }
  }

  .block__title {
    @include font-size(40px);
    margin: 0 0 1rem 0;
    font-weight: bold;

    @include mq(mediumish) {
      @include font-size(50px);
      margin: 0 0 2rem 0;
    }
  }
}
