//
// Front work section
//

.front-section.work {
  background: $paper;
  border-bottom: 1px solid $grey-shade200;
  padding: 1.5rem 0;
  text-align: center;
  @include no-block-padding;
  @extend %pattern--paper;

  @include mq(mediumish) {
    padding: 2.5rem 0;
  }
}
