// Checkboxes
//
// @author Geoffrey Crofte
// @link http://codepen.io/CreativeJuiz/pen/zqKtp
//

$checkbox_height: (($padding-px * 2) - 2px);

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0;
  top: -3px;
  width: 65px;
  height: $checkbox_height;
  background: #fff;
  border-radius: $padding;
  transition: background-color 0.2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 20px;
  height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background-color: #7F8C9A;
  top: 2px;
  left: 5px;
}

/* not checked */
[type="checkbox"]:not(:checked) + label:before {
  content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0no';
  line-height: $checkbox_height;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background-color: #34495E;
  content: '\00a0\00a0\00a0yes';
  line-height: $checkbox_height;
  color: $blue;
}
[type="checkbox"]:checked + label:after {
  background-color: $blue;
  top: 2px;
  left: 40px;
}
