// Radio buttons
//
// @author Karen Menezes (modified by Ivan Boothe)
// @link http://blog.karenmenezes.com/2014/nov/1/another-pure-css-checkbox-article/
//

input[type="radio"],
input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: ($padding / 8);
  cursor: pointer;
  transition: $transition;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label {
  position: relative;
}

input[type="radio"] + label:before {
  content: '';
  background: $white;
  border: ($line-width / 3) solid $blue;
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
  padding: ($line-width / 3);
  margin-right: ($padding / 2);
  text-align: center;
  border-radius: 50%;
  transition: $transition;
}

input[type="radio"]:checked + label {
  color: $blue_verydark;
}

input[type="radio"]:checked + label:before {
  background: $blue;
  border-color: $blue;
  box-shadow: inset 0 0 0 4px $white;
}

input[type="radio"]:focus + label {
  outline: 1px solid $blue;
}
