//
// Main menu items with custom displays
//

#block-dove-main-menu .menu--main,
#block-mainnavigation-2 .menu--main {

  // Home menu item
  > .menu-item__home {

    &.is-active {
      background-color: color(menu-bg);
      color: color(menu-font);
    }

    @include mq(mediumish) {
      display: none; // Fully hide on main nav, including on screen readers
    }
  }

  // Donation menu item
  > .menu-item__donate {
    margin: 0;

    a {
      background-color: $yellow;
      opacity: 1;
      padding-right: 1.5rem;

      .is-scrolled & {
        padding-right: 1rem;
      }

      .donate-icon {
        fill: $white;
        padding-top: 2px;
        margin: 0 5px;
        width: 20px;
        height: 15px;
        animation: fly 2s linear infinite;
      }

      @include is-on {
        .donate-icon {
          fill: $blue;
          transition: all 0.1s linear;
        }
      }
    }
  }

}
