//
// Main menu, in the footer
//
// @todo Ultimately this menu will be a separate menu (not another instance of
// the main menu) and at that time much of the needless specificity with block
// IDs in this and the other partials in this folder, as well as the unfortunate
// duplication of the mobile menu (mo.js) on this menu, can be removed.
//

.block--footer-menu {
  color: $white;
}

.block--footer-menu__menu {
  @extend %content--small;

  a {
    color: $yellow;
    border-bottom: 1px $yellow dotted;

    @include is-on {
      color: $white;
      border-bottom-color: $white;
    }
  }

  .menu a.is-active {
    color: $yellow;
  }

  .path-frontpage & .menu-item__home {
    display: none;
  }
}
