//
// Main menu, in the header
//
// Styled with mo.js
//

#block-dove-main-menu {

  .menu--main .menu-item a {
    line-height: $header-height-sm;
  }

  // General menu item styles

  ul.menu {
    margin: 0; // overriding default Drupal style
  }

  .menu--main,
  .menu--main * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  .menu--main {
    text-align: center;
    background-color: color(menu-bg);
  }

  .menu--main > .menu-item {
    display: inline;
  }

  .menu--main > .menu-item > a{
    display: inline-block;
  }

  .menu--main .menu-item {
    position: relative;
    white-space: nowrap;
  }

  .menu--main .menu-item:hover > .menu {
    display: block;
  }

  .menu--main .menu-item a {
    position: relative;
    padding: 0 0.5em;
    color: color(menu-font);
  }

  .menu--main .menu-item .is-active,
  .menu--main .menu-item--active-trail > a,
  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu-item--active-trail > a,
  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu__submenu .menu-item--active-trail > a {
    font-weight: $bold;
    @extend %pattern--blue;

      @include mq(mediumish) {

        &::after {
          background-image: none;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
  }

  .menu--main .menu__submenu {
    position: absolute;
    display: none;
    left: 0;
    z-index: 1000;
    margin-left: 0;
    text-align: left;
    background: color(menu-bg);
    @include card(3);
  }

  .menu--main .menu__submenu .menu-item,
  .menu--main .menu__submenu .menu-item a {
    display: block;
  }

  .menu--main .menu__submenu .menu__submenu {
    top: 0;
    left: 100%;
  }

  // Tablet and larger widths

  @include mq(mediumish) {

    .menu--main .menu-item a {
      line-height: $header-height;

      @include is-on {
        background-color: color(menu-bg-highlight);
        color: color(menu-font-highlight);
        @include card(1);
      }

      .is-scrolled & {
        line-height: $header-height-sm;
      }
    }

  // Horizontal drop-downs

    .menu--main {
      margin-left: 200px;
      background-color: transparent;
    }

    .menu--main:after{
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0;
    }

    .menu--main > .menu-item {
      display: block;
      float: left;
    }

    .menu--main > .menu-item > a {
      margin: 0;
      padding: 0 0.8rem;
      font-weight: $normal;
    }

    .menu--main .has-submenu {
      @include is-on {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    .menu--main .menu__submenu {
      margin-top: 0;
      min-width: 100%;
    }

    .menu--main .menu__submenu .menu-item {
      width: 100%;
    }

  }

  // Mobile widths: stacked menu items

  .menu-toggle-button {
    display: block;
    cursor: pointer;
    width: 8rem;
    height: $header-height-sm;
    padding-left: 0.5rem;
    @include font-size(26px);
    line-height: $header-height-sm;
    background-color: color(menu-bg);
    color: $white;
  }

  .menu--main.is-js-menu .menu-item:hover > .menu__submenu {
    display: none;
  }

  .menu--main.is-js-menu .menu-item.is-open-submenu > .menu__submenu,
  .menu--main.is-js-menu .menu-item.is-open-submenu:hover > .menu__submenu {
    display: block;
  }

  .menu--main.is-mobile-menu.menu-arrows {
    text-align: left;
  }

  .menu--main.is-mobile-menu.menu-arrows > .menu-item > a {
    display: block;
    margin: 0;
  }

  .menu--main.is-mobile-menu.menu-arrows .menu__submenu {
    position: relative;
    top: auto;
    margin-top: 0;
    padding: 0.75em;
  }

  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu__submenu {
    position: relative;
    left: 0;
  }

  .menu--main.is-mobile-menu.is-hidden-menu {
    display: none;
  }

  // Arrows

  .menu--main.menu-arrows .has-submenu > a {
    padding-right: 3.5em;
  }

  .menu--main.menu-arrows .toggle-submenu {
    width: 1.5em;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  // Arrows: Desktop
  .menu--main.menu-arrows .toggle-submenu:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.5em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: color(menu-arrow);
  }

  .menu--main.menu-arrows .menu__submenu .toggle-submenu:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: color(menu-arrow);
  }

  .menu--main.menu-arrows .has-submenu > a {
    padding-right: 2em;
  }

  // Arrows: JS
  .menu--main.is-js-menu.menu-arrows .toggle-submenu {
    width: 2.5em;
  }

  .menu--main.is-js-menu.menu-arrows .has-submenu > a {
    padding-right: 2.5em;
  }

  .menu--main.is-js-menu.menu-arrows .toggle-submenu:after {
    right: 0.8em;
  }

  .menu--main.is-js-menu.menu-arrows .menu__submenu .toggle-submenu:after {
    right: 1.1em;
  }

  .menu--main.menu-arrows .is-open-submenu > .menu__submenu {
    display: block;
  }

  .menu--main.menu-arrows .is-open-submenu > a .toggle-submenu:after {
    margin-top: -8px;
    border-color: transparent;
    border-bottom-color: color(menu-arrow);
  }

  .menu--main.menu-arrows .menu__submenu .is-open-submenu > a .toggle-submenu:after {
    margin-top: -5px;
    margin-right: 3px;
    border-color: transparent;
    border-right-color: color(menu-arrow);
  }

  // Arrows: Mobile
  .menu--main.menu-arrows.is-mobile-menu.menu-arrows .menu__submenu a .toggle-submenu:after {
    margin-top: -3px;
    margin-right: -3px;
    border-color: transparent;
    border-top-color: color(menu-arrow);
  }

  .menu--main.menu-arrows.is-mobile-menu.menu-arrows .menu__submenu .is-open-submenu a .toggle-submenu:after {
    margin-top: -8px;
    border-color: transparent;
    border-bottom-color: color(menu-arrow);
  }

  .menu--main.is-mobile-menu.menu-arrows .toggle-submenu:hover {
    background: rgba( 255, 255, 255, 0.2);
  }

  .menu--main.is-mobile-menu.menu-arrows ul,
  .menu--main.is-mobile-menu.menu-arrows ul a{
    background: rgba( 255, 255, 255, 0.1);
  }

  .menu--main.is-mobile-menu.menu-arrows .menu__submenu a:hover {
    background: rgba( 255, 255, 255, 0.2);
  }

  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu__submenu a:hover {
    background: rgba( 255, 255, 255, 0.3);
  }

  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu__submenu,
  .menu--main.is-mobile-menu.menu-arrows .menu__submenu .menu__submenu a {
    background: rgba( 255, 255, 255, 0.2);
  }

  .menu--main.is-mobile-menu.menu-arrows .is-open-submenu > a .toggle-submenu{
    background: rgba( 255, 255, 255, 0.1 );
  }

}
