// Colors
//
// Style guide: variables.colors

// Main colors
//
// $black - Black
// $white - White
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Style guide: variables.colors.main

$black: #111;
$white: #fff;
$white-rgba: rgba($white, 0.5);
$white-off: #eeeefe;
$grey: #777;

$blue: #54b2fc;
$blue-light: lighten($blue, 13%);
$blue-verylight: lighten($blue, 20%);
$blue-dark: darken($blue, 18%);
$blue-verydark: darken($blue, 25%);

// Color map
//
// @todo Move other color values into this map and update styleguide.

$colors: (
  content-bg: $blue-verylight,
  page-bg: $blue-light,
  highlight-bg: $blue,
);

// Minor colors
//
// $red - Red (for errors)
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Style guide: variables.colors.minor

$red: #a00;
$red-rgba: ($red, 0.2);
$yellow: #fbb900;
$yellow-rgba: ($yellow, 0.2);
$green: rgb(0, 100, 0);
$green-rgba: ($green, 0.2);
