// Colors
//
// Styleguide 1.1.0

// Main colors
//
// $black - Black
// $white - White
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1.1

$black: #111;
$white: #fff;
$white_off: #eeeefe;
$grey: #777;

$blue: #54b2fc;
$blue_light: lighten($blue, 13%);
$blue_verylight: lighten($blue, 20%);
$blue_dark: darken($blue, 18%);
$blue_verydark: darken($blue, 25%);

// Color map
//
// @todo Move other color values into this map and update styleguide.

$colors: (
  content_bg: $blue_verylight,
  page_bg: $blue_light,
  highlight_bg: $blue,
);

// Minor colors
//
// $red - Red (for errors)
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1.2

$red: #a00;
$yellow: #ee0;
