// Fonts
//
// Style guide: variables.fonts

// Font families
//
// $fontDefault - Default (body) font
// $fontHighlight - Highlight (emphasis) font
//
// markup:
// <div style="font-family: {$modifiers};">{$modifiers}</div>
//
// Style guide: variables.fonts.families

$fontDefault: 'Roboto', Helvetica, Arial, sans-serif;
$fontHighlight: 'Lora', Georgia, Times, 'Times New Roman', serif;

// Font weights
//
// These variables only apply to the default font.
//
// $thin - Thin
// $normal - Normal
// $bold - Bold
// $ultra-bold - Ultra bold
//
// markup:
// <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:500,300,700,900" media="all" />
// <div style="font-family: $fontDefault; font-weight: {$modifiers};">{$modifiers}</div>
//
// Style guide: variables.fonts.weights

$thin: 300;
$normal: 500;
$bold: 700;
$ultra-bold: 900;
