//
// Sizes
//
// Documented with SassDoc.
//

/// Standard padding
///
/// @group Sizes
$padding: 1rem;
$padding-px: 16px;

/// Standard line and border width
///
/// @group Sizes
$line-width: 6px;

/// Standard border radius
///
/// @group Sizes
$border-radius: 0.5rem;

/// Icon size
///
/// @group Sizes
$icon-size: 36px;

/// Image style sizes
///
/// @group Sizes
$imagestyle-ring_feature: 325px;
$imagestyle-product_thumbnail: 110px;
$imagestyle-product_medium: 215px;
$imagestyle-product_medium-mobile: 150px;
$imagestyle-product_full: 416px;

/// Commerce top bar size
///
/// @group Sizes
$topbar-size: 59px;
