//
// Fields
//

.page-node.node-type-rings {

  // Wrapper around image zoom and thumbnails
  .commerce-product-field-field-images {
    padding-right: ($padding * 4);
  }

  // Thumbnails
  .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
    margin-top: ($padding / 2);
    border: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  // Price
  .field-name-commerce-price {
    margin: ($padding * -0.5) 0 0 0;
    @include font-size(48px);
    font-family: $fontDefault;
    font-weight: $thin;
  }

  // "Free"
  .field-name-ring-free p {
    @include font-size(14px);

    a {
      font-weight: $bold;
      white-space: nowrap;
    }
  }

  // Add to cart area
  .field-type-commerce-product-reference form.commerce-add-to-cart,
  .field-name-field-product {
    padding: 0;
    background-image: none;
  }

  // Width selection
  .field-type-commerce-product-reference form.commerce-add-to-cart label {
    font-family: $fontDefault;
    width: auto;
  }
  .field-type-commerce-product-reference form.commerce-add-to-cart label::after {
    content: "";
  }

  // Add to cart button
  .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
    width: 90%;
    margin: 1rem 0 0 0;
    padding: 0.5rem 50px 0.5rem 1rem;
    background-color: $blue;
    background-position: 95% 55%;
    @include font-size(24px);
    font-family: $fontDefault;
    font-weight: $thin;
    border-radius: $border-radius;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    @include card(1);

    &:hover,
    &:focus {
      background-color: $blue_dark;
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    }

    &:active {
      @include card(0);
      text-shadow: none;
    }
  }

  // Sizing note
  .field-name-ring-sizing {
    margin-top: 1.5rem;

    p {
      margin: 0.5rem 0;
      @include font-size(14px);

      a {
        font-weight: $bold;
      }
    }
  }

  // All tags
  .field-name-field-collection,
  .field-name-field-color,
  .field-name-field-ring-elements-primary,
  .field-name-field-ring-elements {
    margin-bottom: 0.5rem;
    @include font-size(16px);

    a {
      @extend .button--tag;
    }
  }

  // Elements (keywords)
  .field-name-field-ring-elements-primary {
    display: inline-block;
    margin-bottom: 2rem;

    .field-items,
    .field-item {
      display: inline;
    }

    .field-items::before {
      content: 'Keywords: ';
      font-weight: bold;
    }

    .field-item::after {
      padding-right: 0.3em;
    }
  }

  .field-name-field-ring-elements {
    display: inline-block;

    .field-items,
    .field-item {
      display: inline;
    }
  }

  // Related rings
  .field-name-field-related-rings {
    .container-24.prefix-1 {
      padding-left: 0;
    }
  }

}
