//
// Images and Image Zoom
//

.page-node.node-type-rings {

  // Wrapper around image zoom and thumbnails
  .commerce-product-field-field-images {
    position: relative;
    padding-right: ($padding * 4);
    padding-bottom: ($padding * 2);
    min-height: $imagestyle-product_full;
    @include clearfix;

    // Zoom image
    > figure {
      width: $imagestyle-product_full;
      float: right;
    }

    // Zoom image caption
    .image__caption {
      text-align: right;
      font-style: italic;
    }
  }

  // Thumbnail wrapper
  #imagezoom-thumb-wrapper {
    width: $imagestyle-product_thumbnail;
  }
  .imagezoom-thumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // Thumbnails
  .imagezoom-thumb {
    margin-top: $padding;
    margin-left: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

}
