//
// Related and similar rings, which are created differently but appear very
// similarly on the front-end.
//

// Related rings
.field-name-field-related-rings {
  @include clearfix;
}

.field-name-field-related-rings__label {
  font-weight: $thin;
}

.field-name-field-related-rings__items {
  @include clearfix;
  padding-left: 5px;
}

.field-name-field-related-rings__item {
  display: inline-block;
  width: $imagestyle-product_thumbnail;
  margin-right: $padding;

  .container-24.prefix-1 {
    padding-left: 0;
  }
  }
