//
// Author profile
//

%author-card {
  position: relative;
  background: $white;
  margin: 2rem 0;
  padding: $padding;
  border-top: $line-width $blue solid;
  border-bottom: $line-width $blue solid;
  @include card(2);
}

%author-card__title {
  @include font-size(24px);
  font-weight: $bold;
}

%author-card__location {
  float: right;
  margin: 0 0 $padding $padding;
  padding: 0.2rem;
  text-align: right;
}

%author-card__location--above {
  position: absolute;
  top: -3.75rem;
  right: 0;
  margin: 0;
  width: 250px;
  height: 50px;
}

// @todo Move these

.node-content--author {
  @extend %author-card;
}

.field-node--field-taxonomy-author-location {
  @extend %author-card__location;
}

.node--type-author .node-content--author .field-node--field-taxonomy-author-location {
  @extend %author-card__location--above;
}

.title--author__inline,
.node--author__title {
  @extend %author-card__title;
}
