//
// Primary content areas
//

%content {
  padding: 0 $padding;

  @include mq(smallish) {
    padding: 0;
  }
}

%content--small {
  @include font-size(16px);
  text-align: left;

  p {
    @include font-size(16px);
  }
}

.field-node--body {
  @extend %content;
}
