//
// Styling for Anchor.js deep anchors on main content areas
//

.anchorjs-link {
  background-color: transparent !important;
}

.anchorjs-link:hover {
  color: $dkblue;
}

*:hover > .anchorjs-link {
  transition: color 0.3s linear;
}
