//
// Standard taxonomy term display
//

%taxonomy {
  margin: 0 $padding;

  @include mq(smallish) {
    margin: 0;
  }

  .field__item {
    margin: ($padding / 2);
  }
}

%taxonomy--inline {
  .field__item {
    display: inline-block;
    margin-bottom: $padding;
    @include no-block-padding;

    @include mq(smallish) {
      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      padding: ($padding / 2);
      border-left: $line-width solid $dkblue;
      border-radius: $line-width;
      color: $white;
      @include font-size(16px);
      font-weight: $thin;
      @extend %pattern--blue;

      @include is-on {
        background-image: none;
        background-color: $yellow;
        border-left-color: $blue;
        color: $blue;
      }
    }
  }
}

//
// Since all taxonomy terms are now entity references in Drupal 8, there's no
// single class that applies to all taxonomy fields, so we need to apply them
// individually.
//

.field--name-field-taxonomy-article-tags {
  @extend %taxonomy;
  @extend %taxonomy--inline;
}

//
// Labels
//

.field-node--field-taxonomy-article-tags__label {
  display: block;
  margin: 0 0 $padding 0;
  @include font-size(20px);
  font-weight: $bold;
  color: $dkblue;

  @include mq(smallish) {
    display: inline;
    margin: 0 $padding 0 0;
  }
}
