//
// "Fly to the top" link
//

$top-link_width: 40px;
$top-link_height: 30px;

.top-link {
  display: block;
  width: $top-link_width;
  height: $top-link_height;
  fill: $white;
  filter: drop-shadow(0 0 2px $grey-shade400);

  .injected-svg {
    width: $top-link_width;
    height: $top-link_height;
  }

  @include is-on {
    fill: $yellow;
    animation: bulge 1s linear infinite;
  }
}

.top-link--footer {
  position: absolute;
  top: ($top-link_height * -1 / 2);
  right: ($padding * 4);
}
