//
// Work category (taxonomy) styling
//

$work-icon: 40px;
$work-font: $work-icon + $line-width;
$work-icon-pad: $work-icon + $padding-px;

%work-title {
  @include font-size($work-font);
  margin: 0 0 1rem 0;
  padding: $line-width;
  text-align: left;
  font-weight: $normal;

  @include mq(mediumish) {
    border-bottom: ($line-width / 2) $black solid;
  }
}

%work-title--icon {
  @extend %work-title;
  padding: $line-width 0 $line-width $work-icon-pad;
  background-size: auto $work-icon;
  background-repeat: no-repeat;
  background-position: $line-width 50%;
}

%work-title--icon--organize {
  background-image: url('/themes/dove/icons/fa-users.svg');
}

%work-title--icon--train {
  background-image: url('/themes/dove/icons/fa-heartbeat.svg');
}

%work-title--icon--grow {
  background-image: url('/themes/dove/icons/fa-pagelines.svg');
}
