//
// List (view) fields
//

// Category
.view-listings__category {
  font-style: italic;
}

// Name
.view-listings .views-field-title {
  min-width: 100px;
}

.view-listings__name {
  @include font-size(14px);
  margin-bottom: ($padding / 2);
}

.view-listings__name-link {
  font-weight: $bold;
}

// Location
.view-listings__location-street,
.view-listings__location-street-2 {
  display: block;
}

.view-listings__location-city {
}

.view-listings__location-state {
  font-weight: $bold;
  padding-right: ($padding / 4);
}

.view-listings__location-zip {
}

// Phone and email contacts
.views-field-field-telephone-listing-phone,
.views-field-field-email-listing-email {
  ul {
    margin: 0;
    list-style-type: none;

    li {
      margin: 0 0 ($padding / 4) 0;
    }
  }
}

.views-field-field-telephone-listing-phone {
  li {

    @include mq(mediumish) {
      white-space: nowrap;
    }
  }
}

.views-field-field-email-listing-email {
  // Explicit widths are required for wrapping within table cells. We set it
  // on both the TD and the DIV (.item-list) so there isn't confusing padding
  // when the TD is larger than the DIV.

  width: 75px;

  @include mq(mediumish) {
    width: 150px;
  }

  @include mq(largeish) {
    width: 200px;
  }

  > .item-list {
    width: 75px;
    white-space: normal;
    word-wrap: break-word;

    @include mq(mediumish) {
      width: 150px;
    }

    @include mq(largeish) {
      width: 200px;
    }
  }
}

.view-listings__phone,
.view-listings__email {
  @include font-size(14px);
}

// "Online" contacts
.view-listings__website {
  @extend %icon-website;
}

.view-listings__facebook {
  @extend %icon-facebook;
}

.view-listings__twitter {
  @extend %icon-twitter;
}
