//
// List (view) of chapters, affiliates and RPFs
//
// @todo Figure out how to add classes to the view table so we don't have to
// target the elements and include the .view-listings specificity.
//

.view-listings {
  text-align: left;

  table {
    width: 100%;
    max-width: 100%;
  }

  caption {
    @extend %h3;
    text-align: left;
    color: $dkblue;
  }

  th {
    padding: 0 $padding / 2;
    background: $dkblue;
    color: $white;
    line-height: $header-height-sm;
    border-right: 1px $white dotted;

    &:last-of-type {
      border-right: none;
    }
  }

  tbody {
    @include font-size(14px);

    td {
      padding: $padding / 2;
      vertical-align: top;
      border-right: 1px $dkblue dotted;

      &.is-active {
        background-color: transparent;
      }
    }
  }
}
