//
// Listing "online" contacts (website, Facebook, Twitter)
//

.field-node--field-link-listing-website,
.field-node--field-link-listing-facebook,
.field-node--field-text-listing-twitter {
  display: inline-block;
  margin-top: $padding;
  background-color: $blue;
  padding: ($padding / 2);
  border-radius: ($padding * 2);
  @include no-block-padding;
}

.field-node--field-link-listing-website > a {
  @extend %icon-website;
}

.field-node--field-link-listing-facebook > a {
  @extend %icon-facebook;
}

.field-node--field-text-listing-twitter > a {
  @extend %icon-twitter;
}
