//
// Listing logo
//

.field-node--field-image-listing-logo {
  display: inline;

  .field__wrapper,
  .field__item {
    display: inline;
  }

  img {
    @include mq(mediumish) {
      float: right;
      margin: 0 0 $padding $padding;
    }
  }
}
