//
// Testimonials view
//

.page-about-testimonials .region-content  {

  .view-content .views-row {
    margin: ($padding * 2) 0;
    padding: $padding;
    background-color: $white-off;
    border-radius: $border-radius;
  }
}
