//
// DS block fields
//

%ring-block-field {
  .block-title {
    margin-top: $padding;
  }

  p {
    margin: ($padding / 2) 0;
    @include font-size(14px);

    a {
      font-weight: $bold;

      &:visited {
        color: $blue-dark;
      }
    }
  }
}

.page-node.node-type-rings {

  // "Free"
  .field-name-ring-free {
    @extend %ring-block-field;
    margin-top: ($padding * -0.5);
    margin-bottom: $padding;
  }

  // Width explanation
  .field-name-ring-width {
    @extend %ring-block-field;
  }

  // Colors note
  .field-name-ring-colors {
    @extend %ring-block-field;
  }

  // Sizing note
  .field-name-ring-sizing {
    @extend %ring-block-field;
  }

  // Gemstones (changing to other stones)
  .field-name-ring-gemstones-other {
    @extend %ring-block-field;
  }

  // Gemstones (adding stones)
  .field-name-ring-gemstones-add {
    @extend %ring-block-field;
  }
}
