//
// Ring description
//

.page-node.node-type-rings {

  .field-name-field-description {
    line-height: 1.25;

    @include mq(smallish) {
      line-height: 1.5;
    }

    p {
      margin-bottom: $padding;
    }
  }
}
