//
// Images and Image Zoom
//

.page-node.node-type-rings {

  // Wrapper around image zoom and thumbnails
  .commerce-product-field-field-images {
    @include clearfix;
    position: relative;

    @include mq(smallish) {
      width: $imagestyle__product-full;
      margin: 0 auto;
      min-height: $imagestyle__product-full;
    }

    @include mq(mediumish) {
      width: auto;
      margin: 0;
      padding-right: ($padding * 4);
      padding-bottom: ($padding * 2);
    }

    // Zoom image
    > figure {
      margin-bottom: $padding;

      @include mq(smallish) {
        width: $imagestyle__product-full;
        float: right;
      }

      @include mq(mediumish) {
        margin-bottom: 0;
      }
    }

    // Zoom image caption
    .image__caption {
      text-align: right;
      font-style: italic;
    }
  }

  // Wrapper when only one image exists
  .commerce-product-field-field-images--single {

    @include mq(mediumish) {
      width: $imagestyle__product-full;
      margin: 0 auto;
      padding-right: 0;
    }
  }

  // Zoomed image overlay
  .zoomContainer {
    opacity: 0;

    @include mq(smallish) {
      opacity: 1;
    }
  }

  // Thumbnail wrapper
  #imagezoom-thumb-wrapper {
    margin: $padding 0 0 0;

    @include mq(mediumish) {
      margin: 0;
      width: $imagestyle__product-thumbnail;
    }
  }

  .imagezoom-thumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // Thumbnails
  .imagezoom-thumb {
    display: inline-block;
    margin: 0 ($padding / 2) ($padding / 2) 0;
    width: $imagestyle__product-thumbnail;

    @include mq(mediumish) {
      margin: $padding 0 0 0;
    }

    &:first-of-type {
      @include mq(mediumish) {
        margin-top: 0;
      }
    }
  }
}
