//
// Display Suite sections (header, left, right, footer)
//

.page-node.node-type-rings {

  .ds-left {
    float: none;
    width: $imagestyle-product_full;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: $padding;

    @include mq(smallish) {
      float: left;
      width: 66.6%;
      margin: 0;
    }
  }

  .ds-right {
    float: none;
    width: $imagestyle-product_full;
    max-width: 100%;
    margin: 0 auto;

    @include mq(smallish) {
      float: left;
      width: 33.3%;
      margin: 0;
    }
  }

  .ds-footer {
    padding-top: $padding;
  }
}
