//
// All taxonomy terms
//

.page-node.node-type-rings {

  // All tags
  .field-name-field-collection,
  .field-name-field-color,
  .field-name-field-ring-elements-primary,
  .field-name-field-ring-elements {
    margin: ($padding / 2) $padding ($padding / 2) 0;
    @include font-size(16px);

    a {
      @extend %link--basic;
      font-weight: $bold;
      margin-left: ($padding / 2);
    }
  }

  // Elements (keywords)
  .field-name-field-ring-elements-primary {
    display: inline-block;
    margin-right: 0;

    .field-items,
    .field-item {
      display: inline;
    }

    .field-items::before {
      content: 'Keywords: ';
      font-weight: bold;
    }

    .field-item::after {
      padding-right: 0.3rem;
    }
  }

  .field-name-field-ring-elements {
    display: inline;
    padding-left: 0;

    .field-items,
    .field-item {
      display: inline;
    }
  }

  // Color tags
  .field-name-field-color {
    margin: $padding 0;
  }
}
