/*
 * COMMERCE KICKSTART TOOLBAR
 */

/*
 * Environment indicator
 */

#environment-indicator {
  top: 59px; /* See $topbar-size in themes/trf/sass/global/variables */
  text-shadow: none;
}


/*
 * Accommodate escape_admin link
 */

#toolbar-home > .first {
  padding-top: 7px;
}

.toolbar .toolbar-icon-escape-admin {
  white-space: nowrap;
  /* overrides escape_admin specificity which uses !important (sigh) */
  padding-left: 2.25em !important;
  padding-right: 0.75em !important;
}

body.toolbar #toolbar-home .toolbar-icon-escape-admin:hover,
body.toolbar #toolbar-home .toolbar-icon-escape-admin:active,
body.toolbar #toolbar-home .toolbar-icon-escape-admin:focus {
  /* overrides escape_admin specificity which uses !important (sigh) */
  background-color: #2f88cd !important;
  box-shadow: 0 0 5px #1a6bdf inset !important;
}

.toolbar .toolbar-icon-escape-admin::before {
  width: 16px;
  background-position: 0 47%;
}

/*
 * IMAGE ENTITIES
 */

/*
 * Hide width field in image entities
 */

.image-widget .field-name-field-file-image-ring-width {
  display: none;
}

/*
 * RING NODE EDITING FORM
 */

/*
 * Hide format tips for description.
 */

.node-rings-form .field-name-field-description .filter-wrapper {
  display: none;
}

/*
 * Show width field in image entities on rings
 */

.image-widget .field-name-field-file-image-ring-width {
  display: block;
}

/*
 * INLINE ENTITY FORM
 */

/*
 * Highlight width value.
 */

.field-widget-inline-entity-form .field-name-field-ring-width {
  font-weight: bold;
}

/*
 * Hide fields that are copied or set based on the parent product.
 */

.ief-form .field-type-commerce-price,
.ief-form .field-name-field-title-parent,
.ief-form .field-name-field-images,
.ief-form .field-name-field-color {
  display: none;
}

/*
 * Improvements to operations field.
 */

.ief-entity-operations {
  margin: 1em 0;
}

.ief-entity-operations .form-submit {
  margin: 0 1em 0 0;
}

/*
 * Add padding to related rings fieldset.
 */

.field-name-field-related-rings fieldset {
  padding: 1em;
}

.field-name-field-related-rings .fieldset-legend {
  padding: 0 0.75em;
}

/*
 * Hide "add new" option in related rings fieldset.
 */

.field-name-field-related-rings .container-inline input[value="Add new ring"] {
  display: none;
}

/*
 * Hide "edit" operation next to existing related rings to prevent
 * going down the rabbit hole.
 */

.field-name-field-related-rings .ief-entity-operations input[value="Edit"] {
  display: none;
}

/*
 * COMMERCE KICKSTART UPSELLING
 */

/*
 * Shamelessly remove Commerce Kickstart's upselling attempts
 */

.toolbar-menu-marketplace {
  display: none !important;
}
