//
// AddThis social sharing buttons
//

.field-name-addthis-buttons {
  margin: ($padding * -1) 0 $padding;
  height: 2.75pc; // size of AddThis buttons; included to prevent reflow

  .at-share-tbx-element .at-share-btn {
    margin-right: $padding;
  }
}
