//
// Breadcrumbs
//

.breadcrumb {
  margin: -10px -10px 0 -10px;
  padding: $padding ($padding * 1.6);
  background-color: $white-off;
  border: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  a {
    display: inline-block;
    color: $blue_verydark;

    @include is-on {
      color: $blue;
      text-decoration: none;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .front & {
    display: none;
  }
}
