//
// Site-wide search
//

#block-views-exp-display-products-page {
  float: none !important;
  padding-top: 0;

  .views-exposed-widgets {
    float: none !important;
    margin: 0 auto;
    width: 90%;
  }
}

#views-exposed-form-display-products-page {

  .form-submit {
    width: auto;
    padding: 5px 8px;
    font-size: inherit;
    @include card(0);

    @include is-on {
      @include a-grow(1, 0);
    }
  }
}
