//
// Width selection
//

.page-node {
  .field-type-commerce-product-reference form.commerce-add-to-cart label {
    font-family: $fontDefault;
    width: auto;
  }
  .field-type-commerce-product-reference form.commerce-add-to-cart label::after {
    content: "";
  }
}
