//
// MOBILE MENU
//
// Appears at smaller widths
//

// Toggle button
.menu-toggle {
  background-color: $blue_verydark;
  border-radius: $border-radius;

  .line {
    border-bottom-color: $white;
  }

  @include is-on {
    background-color: $white;

    .line {
      border-bottom-color: $blue_verydark;
    }
  }

  // The word "Menu"
  .toggle-help {
    top: 0;
    left: 40px;
    padding: 0 ($padding / 2);
    font-family: $fontDefault;
    font-variant: normal;
    line-height: 36px;
    color: $blue_verydark;
    background-color: $white;
    border-radius: $border-radius;

    @include is-on {
      color: $white;
      background-color: $blue_verydark;
    }
  }
}

// Menu
.responsive-layout-mobile .navigation {
  padding: 0 $padding;
  background-color: $blue_verylight;

  // Hide menu titles
  h2 {
    display: none;
  }

  .second-menu.inline {
    top: 0;
    margin-top: (2 * $padding);
  }

  .second-menu.inline ul li.first a {
    margin-left: 0;
  }
}
