//
// SOCIAL MEDIA / CONNECT WITH US NAVIGATION
//
// Facebook, Twitter, etc.
//

#block-menu-menu-social-connection .content ul.menu li {

  @include is-on {
    color: $black;
    background-color: $blue-verylight;
    border-radius: $border-radius;
  }
}
