//
// TERTIARY NAVIGATION
//
// Blog, contact, about
//

.block-menu-tertiary-navigation {

  ul.menu {
    text-align: right;

    @include mq(smallish) {
      text-align: left;
    }
  }

  ul.menu li.collapsed,
  ul.menu li.leaf {
    display: inline-block;
    margin: 0;
    padding-right: 0;
    list-style-type: none;
    list-style-image: none;
    font-family: $fontDefault;

    @include mq(smallish) {
      margin: 0 ($padding / 2);
    }

    a {
      display: block;
      position: relative;
      margin: 0 0 ($padding * -0.5);
      padding: ($padding / 4) ($padding / 2) ($padding / 2);
      font-family: $fontDefault;
      font-weight: $normal;
      color: $white;
      background-color: $blue;
      border-radius: $border-radius;
      @include a-slidehover("up");

      @include is-on {
        background-color: $blue_dark;
      }

        @include mq(smallish) {
          margin: $padding 0 ($padding * -0.5);
          padding: ($padding / 2) $padding $padding;
        }
    }
  }
}
