//
// TERTIARY NAVIGATION
//
// Blog, contact, about
//

.block-menu-tertiary-navigation {

  ul.menu {
    text-align: right;

    @include mq(smallish) {
      text-align: left;
    }
  }

  ul.menu li.collapsed,
  ul.menu li.leaf {
    list-style-type: none;
    list-style-image: none;
    display: inline-block;
    font-family: $fontDefault;

    a {
      display: block;
      position: relative;
      margin-bottom: ($padding * -0.5);
      padding: ($padding / 4) ($padding / 2) ($padding / 2);
      font-family: $fontDefault;
      font-weight: $normal;
      color: $white;
      background-color: $blue;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      @include a-slidehover("up");

      @include is-on {
        background-color: $blue_dark;
      }

        @include mq(smallish) {
          padding: ($padding / 2) $padding $padding;
        }
    }
  }
}
