//
// Sizes
//
// Documented with SassDoc.
// styleguide:ignore:start
//

/// Standard padding
///
/// @group Sizes
$padding: 1rem;
$padding-px: 16px;

/// Standard line and border width
///
/// @group Sizes
$line-width: 6px;

/// Icon size
///
/// @group Sizes
$icon-size: 36px;

/// Image style sizes
///
/// @group Sizes
$imagestyle-ring_feature: 325px;

/// Top page margin
///
/// @group Sizes

$page-padding-top: 24px;

// styleguide:ignore:end
