button.pseudo-class-hover,
.button.pseudo-class-hover,
.button--inline.pseudo-class-hover,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-hover,
.page-checkout form .checkout-continue.pseudo-class-hover,
.button--cta.pseudo-class-hover,
.button--ghost.pseudo-class-hover,
.button--tag.pseudo-class-hover,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-hover,
button.pseudo-class-active,
.button.pseudo-class-active,
.button--inline.pseudo-class-active,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-active,
.page-checkout form .checkout-continue.pseudo-class-active,
.button--cta.pseudo-class-active,
.button--ghost.pseudo-class-active,
.button--tag.pseudo-class-active,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-active,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-active,
button.pseudo-class-focus,
.button.pseudo-class-focus,
.button--inline.pseudo-class-focus,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-focus,
.page-checkout form .checkout-continue.pseudo-class-focus,
.button--cta.pseudo-class-focus,
.button--ghost.pseudo-class-focus,
.button--tag.pseudo-class-focus,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-focus {
  background: #0488f0;
  color: #fff;
  outline: 0;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

button.pseudo-class-active,
.button.pseudo-class-active,
.button--inline.pseudo-class-active,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-active,
.page-checkout form .checkout-continue.pseudo-class-active,
.button--cta.pseudo-class-active,
.button--ghost.pseudo-class-active,
.button--tag.pseudo-class-active,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-active,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-active {
  box-shadow: none;
}

button[disabled="disabled"].pseudo-class-hover,
[disabled="disabled"].button.pseudo-class-hover,
[disabled="disabled"].button--inline.pseudo-class-hover,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions [disabled="disabled"]#edit-checkout.pseudo-class-hover,
.page-checkout form [disabled="disabled"].checkout-continue.pseudo-class-hover,
[disabled="disabled"].button--cta.pseudo-class-hover,
[disabled="disabled"].button--ghost.pseudo-class-hover,
[disabled="disabled"].button--tag.pseudo-class-hover,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal [disabled="disabled"].form-submit.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-collection a[disabled="disabled"].pseudo-class-hover,
.page-node.node-type-rings .field-name-field-color a[disabled="disabled"].pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements-primary a[disabled="disabled"].pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements a[disabled="disabled"].pseudo-class-hover,
button[disabled="disabled"].pseudo-class-active,
[disabled="disabled"].button.pseudo-class-active,
[disabled="disabled"].button--inline.pseudo-class-active,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions [disabled="disabled"]#edit-checkout.pseudo-class-active,
.page-checkout form [disabled="disabled"].checkout-continue.pseudo-class-active,
[disabled="disabled"].button--cta.pseudo-class-active,
[disabled="disabled"].button--ghost.pseudo-class-active,
[disabled="disabled"].button--tag.pseudo-class-active,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal [disabled="disabled"].form-submit.pseudo-class-active,
.page-node.node-type-rings .field-name-field-collection a[disabled="disabled"].pseudo-class-active,
.page-node.node-type-rings .field-name-field-color a[disabled="disabled"].pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements-primary a[disabled="disabled"].pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements a[disabled="disabled"].pseudo-class-active,
button[disabled="disabled"].pseudo-class-focus,
[disabled="disabled"].button.pseudo-class-focus,
[disabled="disabled"].button--inline.pseudo-class-focus,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions [disabled="disabled"]#edit-checkout.pseudo-class-focus,
.page-checkout form [disabled="disabled"].checkout-continue.pseudo-class-focus,
[disabled="disabled"].button--cta.pseudo-class-focus,
[disabled="disabled"].button--ghost.pseudo-class-focus,
[disabled="disabled"].button--tag.pseudo-class-focus,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal [disabled="disabled"].form-submit.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-collection a[disabled="disabled"].pseudo-class-focus,
.page-node.node-type-rings .field-name-field-color a[disabled="disabled"].pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements-primary a[disabled="disabled"].pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements a[disabled="disabled"].pseudo-class-focus {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1);
  transition: transform 0.3s linear;
}

.button--cta.pseudo-class-hover,
.button--cta.pseudo-class-active,
.button--cta.pseudo-class-focus {
  background: #fff;
  color: #0488f0;
  outline: 0;
  border: 1px #777 solid;
}

.button--ghost.pseudo-class-hover,
.button--ghost.pseudo-class-active,
.button--ghost.pseudo-class-focus {
  background: rgba(4, 136, 240, 0.25);
  color: #0488f0;
  outline: 0;
}

.button--tag.pseudo-class-hover,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-hover,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-hover,
.button--tag.pseudo-class-active,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-active,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-active,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-active,
.button--tag.pseudo-class-focus,
.region-sidebar-first .block-facetapi #search-api-ranges-block-slider-view-form-field-productcommerce-priceamount-decimal .form-submit.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-collection a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-color a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements-primary a.pseudo-class-focus,
.page-node.node-type-rings .field-name-field-ring-elements a.pseudo-class-focus {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1);
  transition: transform 0 linear;
  background: #fff;
  color: #0488f0;
  outline: 0;
  border: 1px #777 solid;
}

[type="checkbox"].pseudo-class-checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"].pseudo-class-checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}

[type="checkbox"].pseudo-class-checked + label:before,
[type="checkbox"].pseudo-class-checked + label:after {
  content: '';
  position: absolute;
}

[type="checkbox"].pseudo-class-checked + label:before {
  left: 0;
  top: -3px;
  width: 65px;
  height: 30px;
  background: #fff;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

[type="checkbox"].pseudo-class-checked + label:after {
  width: 20px;
  height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background-color: #7F8C9A;
  top: 2px;
  left: 5px;
}

[type="checkbox"].pseudo-class-checked + label:before {
  background-color: #34495E;
  content: '\00a0\00a0\00a0yes';
  line-height: 30px;
  color: #54b2fc;
}

[type="checkbox"].pseudo-class-checked + label:after {
  background-color: #54b2fc;
  top: 2px;
  left: 40px;
}

select[disabled].pseudo-class-disabled,
textarea[disabled].pseudo-class-disabled,
input[type="date"][disabled].pseudo-class-disabled,
input[type="datetime"][disabled].pseudo-class-disabled,
input[type="datetime-local"][disabled].pseudo-class-disabled,
input[type="email"][disabled].pseudo-class-disabled,
input[type="month"][disabled].pseudo-class-disabled,
input[type="number"][disabled].pseudo-class-disabled,
input[type="password"][disabled].pseudo-class-disabled,
input[type="search"][disabled].pseudo-class-disabled,
input[type="tel"][disabled].pseudo-class-disabled,
input[type="text"][disabled].pseudo-class-disabled,
input[type="time"][disabled].pseudo-class-disabled,
input[type="url"][disabled].pseudo-class-disabled,
input[type="week"][disabled].pseudo-class-disabled {
  background-color: #ddd;
  border-color: #aaa;
}

input[type="radio"].pseudo-class-checked + label {
  color: #0474cd;
}

input[type="radio"].pseudo-class-checked + label:before {
  background: #54b2fc;
  border-color: #54b2fc;
  box-shadow: inset 0 0 0 4px #fff;
}

input[type="radio"].pseudo-class-focus + label {
  outline: 1px solid #54b2fc;
}

select.pseudo-class-hover,
select.pseudo-class-active,
select.pseudo-class-focus {
  outline: none;
  border-color: #54b2fc;
}

input[type="text"].pseudo-class-hover,
input[type="text"].pseudo-class-active,
input[type="text"].pseudo-class-focus,
input[type="email"].pseudo-class-hover,
input[type="email"].pseudo-class-active,
input[type="email"].pseudo-class-focus,
input[type="password"].pseudo-class-hover,
input[type="password"].pseudo-class-active,
input[type="password"].pseudo-class-focus,
input[type="search"].pseudo-class-hover,
input[type="search"].pseudo-class-active,
input[type="search"].pseudo-class-focus,
textarea.pseudo-class-hover,
textarea.pseudo-class-active,
textarea.pseudo-class-focus {
  outline: none;
  border-color: #54b2fc;
}

a.pseudo-class-visited {
  color: #0474cd;
  text-decoration: none;
  outline: 0;
}

a.pseudo-class-hover,
a.pseudo-class-active,
a.pseudo-class-focus {
  color: #0474cd;
}

.field-node--body p a.pseudo-class-visited,
.field-node--body ul a.pseudo-class-visited,
.field-node--body ol a.pseudo-class-visited,
.field-node--body dl a.pseudo-class-visited {
  color: #111;
}

.field-node--body p a.pseudo-class-hover,
.field-node--body ul a.pseudo-class-hover,
.field-node--body ol a.pseudo-class-hover,
.field-node--body dl a.pseudo-class-hover,
.field-node--body p a.pseudo-class-active,
.field-node--body ul a.pseudo-class-active,
.field-node--body ol a.pseudo-class-active,
.field-node--body dl a.pseudo-class-active,
.field-node--body p a.pseudo-class-focus,
.field-node--body ul a.pseudo-class-focus,
.field-node--body ol a.pseudo-class-focus,
.field-node--body dl a.pseudo-class-focus {
  background-color: #a00;
}

.item-list.item-list.item-list .pager .pager-item a.pseudo-class-hover,
.item-list.item-list.item-list .pager .pager-previous a.pseudo-class-hover,
.item-list.item-list.item-list .pager .pager-next a.pseudo-class-hover,
.item-list.item-list.item-list .pager .pager-item a.pseudo-class-active,
.item-list.item-list.item-list .pager .pager-previous a.pseudo-class-active,
.item-list.item-list.item-list .pager .pager-next a.pseudo-class-active,
.item-list.item-list.item-list .pager .pager-item a.pseudo-class-focus,
.item-list.item-list.item-list .pager .pager-previous a.pseudo-class-focus,
.item-list.item-list.item-list .pager .pager-next a.pseudo-class-focus {
  background-color: #0474cd;
  color: #fff;
}

.skip-link.visually-hidden.focusable.pseudo-class-focus {
  position: absolute !important;
  width: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 100000;
}

.breadcrumb a.pseudo-class-hover,
.breadcrumb a.pseudo-class-active,
.breadcrumb a.pseudo-class-focus {
  color: #54b2fc;
  text-decoration: none;
}

.featured-categories .taxonomy-term.pseudo-class-hover,
.featured-categories .taxonomy-term.pseudo-class-active,
.featured-categories .taxonomy-term.pseudo-class-focus {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background-color: #54b2fc;
}

.featured-categories .taxonomy-term.pseudo-class-hover .featured-categories__title,
.featured-categories .taxonomy-term.pseudo-class-active .featured-categories__title,
.featured-categories .taxonomy-term.pseudo-class-focus .featured-categories__title {
  color: #fff;
}

.featured-categories .taxonomy-term.pseudo-class-hover .taxonomy-term-description,
.featured-categories .taxonomy-term.pseudo-class-active .taxonomy-term-description,
.featured-categories .taxonomy-term.pseudo-class-focus .taxonomy-term-description {
  opacity: 1;
}

.featured-categories__item .taxonomy-term-description p.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.home-free__link.pseudo-class-hover,
.home-free__link.pseudo-class-active,
.home-free__link.pseudo-class-focus {
  background-color: #fff;
  box-shadow: none;
}

.field-name-field-related-rings__item.pseudo-class-hover,
.sr__item.pseudo-class-hover,
.field-name-field-related-rings__item.pseudo-class-active,
.sr__item.pseudo-class-active,
.field-name-field-related-rings__item.pseudo-class-focus,
.sr__item.pseudo-class-focus {
  background-color: rgba(4, 136, 240, 0.2);
}

.field-name-field-related-rings__item.pseudo-class-hover .container-24.prefix-1 .commerce-product-field-field-images a,
.sr__item.pseudo-class-hover .container-24.prefix-1 .commerce-product-field-field-images a,
.field-name-field-related-rings__item.pseudo-class-active .container-24.prefix-1 .commerce-product-field-field-images a,
.sr__item.pseudo-class-active .container-24.prefix-1 .commerce-product-field-field-images a,
.field-name-field-related-rings__item.pseudo-class-focus .container-24.prefix-1 .commerce-product-field-field-images a,
.sr__item.pseudo-class-focus .container-24.prefix-1 .commerce-product-field-field-images a {
  box-shadow: 0 0 10px #54b2fc;
}

.field-name-field-related-rings__item.pseudo-class-hover .container-24.prefix-1 .field-name-field-ring-name a,
.sr__item.pseudo-class-hover .container-24.prefix-1 .field-name-field-ring-name a,
.field-name-field-related-rings__item.pseudo-class-active .container-24.prefix-1 .field-name-field-ring-name a,
.sr__item.pseudo-class-active .container-24.prefix-1 .field-name-field-ring-name a,
.field-name-field-related-rings__item.pseudo-class-focus .container-24.prefix-1 .field-name-field-ring-name a,
.sr__item.pseudo-class-focus .container-24.prefix-1 .field-name-field-ring-name a {
  color: #0474cd;
}

#views-exposed-form-display-products-page .form-submit.pseudo-class-hover,
#views-exposed-form-display-products-page .form-submit.pseudo-class-active,
#views-exposed-form-display-products-page .form-submit.pseudo-class-focus {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1);
  transition: transform 0 linear;
}

.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.pseudo-class-hover,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.pseudo-class-active,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.pseudo-class-focus {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1);
  transition: transform 0.3s linear;
}

.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-hover::after,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-active::after,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-focus::after {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 15px;
  padding-left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' fill='%23a00'%3E%3Cpath d='M933.966 1471.424q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5q-38-47.5-68-97.5t-53.5-121q-23.5-71-23.5-138 0-220 127-344t351-124q62 0 126.5 21.5t120 58q55.5 36.5 95.5 68.5t76 68q36-36 76-68t95.5-68.5q55.5-36.5 120-58t126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18'/%3E%3C/svg%3E");
}

.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-hover,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-active,
.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation.commerce-add-to-cart-confirmation .button.checkout a.pseudo-class-focus {
  box-shadow: none;
}

.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-hover,
.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-active,
.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-focus {
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-size: 32px;
  padding-left: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' fill='%23a00'%3E%3Cpath d='M933.966 1471.424q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5q-38-47.5-68-97.5t-53.5-121q-23.5-71-23.5-138 0-220 127-344t351-124q62 0 126.5 21.5t120 58q55.5 36.5 95.5 68.5t76 68q36-36 76-68t95.5-68.5q55.5-36.5 120-58t126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18'/%3E%3C/svg%3E");
}

.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-hover,
.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-focus {
  background-color: #0488f0;
}

.page-node .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit.pseudo-class-active {
  text-shadow: none;
}

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-hover,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-active,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-focus {
  transform: translate(0, -0.25rem);
}

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-hover::after,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-active::after,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-focus::after {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 15px;
  padding-left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' fill='%23a00'%3E%3Cpath d='M933.966 1471.424q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5q-38-47.5-68-97.5t-53.5-121q-23.5-71-23.5-138 0-220 127-344t351-124q62 0 126.5 21.5t120 58q55.5 36.5 95.5 68.5t76 68q36-36 76-68t95.5-68.5q55.5-36.5 120-58t126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18'/%3E%3C/svg%3E");
}

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-hover,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-active,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links .line-item-summary-checkout a.pseudo-class-focus {
  color: #a00;
  background-color: #54b2fc;
  text-decoration: none;
}

.cart-empty-page a.pseudo-class-hover,
.cart-empty-page a.pseudo-class-active,
.cart-empty-page a.pseudo-class-focus {
  text-decoration: underline;
}

.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-hover,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-active,
.page-cart .commerce-line-item-views-form .commerce-line-item-actions #edit-checkout.pseudo-class-focus {
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-size: 16px;
  padding-left: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' fill='%23a00'%3E%3Cpath d='M933.966 1471.424q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5q-38-47.5-68-97.5t-53.5-121q-23.5-71-23.5-138 0-220 127-344t351-124q62 0 126.5 21.5t120 58q55.5 36.5 95.5 68.5t76 68q36-36 76-68t95.5-68.5q55.5-36.5 120-58t126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18'/%3E%3C/svg%3E");
}

.page-checkout form .checkout-continue.checkout-continue.checkout-continue.pseudo-class-hover,
.page-checkout form .checkout-continue.checkout-continue.checkout-continue.pseudo-class-active,
.page-checkout form .checkout-continue.checkout-continue.checkout-continue.pseudo-class-focus {
  box-shadow: none;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  filter: blur(0);
  transform: scale(1);
  transition: transform 0.3s linear;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-size: 16px;
  padding-left: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1850 1850' fill='%23a00'%3E%3Cpath d='M933.966 1471.424q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5q-38-47.5-68-97.5t-53.5-121q-23.5-71-23.5-138 0-220 127-344t351-124q62 0 126.5 21.5t120 58q55.5 36.5 95.5 68.5t76 68q36-36 76-68t95.5-68.5q55.5-36.5 120-58t126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18'/%3E%3C/svg%3E");
}

.page-checkout form .checkout-cancel.pseudo-class-hover,
.page-checkout form .checkout-cancel.pseudo-class-active,
.page-checkout form .checkout-cancel.pseudo-class-focus,
.page-checkout form .checkout-back.pseudo-class-hover,
.page-checkout form .checkout-back.pseudo-class-active,
.page-checkout form .checkout-back.pseudo-class-focus {
  text-decoration: none;
}

.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-hover,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-active,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-focus {
  background-color: transparent;
}

.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-hover .option,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-active .option,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service.pseudo-class-focus .option {
  background-color: transparent;
  color: #0474cd;
}

.page-checkout-shipping .form-item-commerce-shipping-shipping-service label.pseudo-class-hover,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service label.pseudo-class-active,
.page-checkout-shipping .form-item-commerce-shipping-shipping-service label.pseudo-class-focus {
  background-color: #fff;
}

.section-footer .region-footer-first ul.menu li.pseudo-class-last-of-type,
.section-footer .region-footer-first .section-footer .region-footer-first ul.menu li.expanded.pseudo-class-last-of-type {
  padding-right: 0;
}

.section-footer .region-footer-first ul.menu li a.pseudo-class-hover,
.section-footer .region-footer-first ul.menu li a.pseudo-class-active,
.section-footer .region-footer-first ul.menu li a.pseudo-class-focus,
.section-footer .region-footer-first .section-footer .region-footer-first ul.menu li.expanded a.pseudo-class-hover,
.section-footer .region-footer-first .section-footer .region-footer-first ul.menu li.expanded a.pseudo-class-active,
.section-footer .region-footer-first .section-footer .region-footer-first ul.menu li.expanded a.pseudo-class-focus {
  color: #111 !important;
  background-color: #b8dffe;
  text-decoration: none !important;
}

.menu-toggle.pseudo-class-hover,
.menu-toggle.pseudo-class-active,
.menu-toggle.pseudo-class-focus {
  background-color: #fff;
}

.menu-toggle.pseudo-class-hover .line,
.menu-toggle.pseudo-class-active .line,
.menu-toggle.pseudo-class-focus .line {
  border-bottom-color: #0474cd;
}

.menu-toggle .toggle-help.pseudo-class-hover,
.menu-toggle .toggle-help.pseudo-class-active,
.menu-toggle .toggle-help.pseudo-class-focus {
  color: #fff;
  background-color: #0474cd;
}

.navigation .primary-menu.inline ul li a.pseudo-class-hover,
.navigation .primary-menu.inline ul li a.pseudo-class-active,
.navigation .primary-menu.inline ul li a.pseudo-class-focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation .primary-menu.inline ul li a.active.pseudo-class-hover,
.navigation .primary-menu.inline ul li a.active.pseudo-class-active,
.navigation .primary-menu.inline ul li a.active.pseudo-class-focus,
.navigation .primary-menu.inline ul li a.active-trail.pseudo-class-hover,
.navigation .primary-menu.inline ul li a.active-trail.pseudo-class-active,
.navigation .primary-menu.inline ul li a.active-trail.pseudo-class-focus {
  color: #fff;
}

.navigation .primary-menu.inline ul li.last a.pseudo-class-hover,
.navigation .primary-menu.inline ul li.last a.pseudo-class-active,
.navigation .primary-menu.inline ul li.last a.pseudo-class-focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation .second-menu.inline ul li a.pseudo-class-hover,
.navigation .second-menu.inline ul li a.pseudo-class-active,
.navigation .second-menu.inline ul li a.pseudo-class-focus {
  color: #0488f0;
  background-color: rgba(0, 0, 0, 0.25);
}

.navigation .second-menu.inline ul li a.active.pseudo-class-hover,
.navigation .second-menu.inline ul li a.active.pseudo-class-active,
.navigation .second-menu.inline ul li a.active.pseudo-class-focus,
.navigation .second-menu.inline ul li a.active-trail.pseudo-class-hover,
.navigation .second-menu.inline ul li a.active-trail.pseudo-class-active,
.navigation .second-menu.inline ul li a.active-trail.pseudo-class-focus {
  color: #fff;
}

.navigation .second-menu.inline ul li.last a.pseudo-class-hover,
.navigation .second-menu.inline ul li.last a.pseudo-class-active,
.navigation .second-menu.inline ul li.last a.pseudo-class-focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#block-menu-menu-social-connection .content ul.menu li.pseudo-class-hover,
#block-menu-menu-social-connection .content ul.menu li.pseudo-class-active,
#block-menu-menu-social-connection .content ul.menu li.pseudo-class-focus {
  color: #111;
  background-color: #b8dffe;
  border-radius: 0.5rem;
}

.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-hover,
.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-active,
.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-focus,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-hover,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-active,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-focus {
  transform: translate(0, -0.25rem);
}

.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-hover,
.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-active,
.block-menu-tertiary-navigation ul.menu li.collapsed a.pseudo-class-focus,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-hover,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-active,
.block-menu-tertiary-navigation ul.menu li.leaf a.pseudo-class-focus {
  background-color: #0488f0;
}

.region-sidebar-first .block-facetapi .facetapi-checkbox.facetapi-inactive.pseudo-class-hover,
.region-sidebar-first .block-facetapi .facetapi-checkbox.facetapi-inactive.pseudo-class-active,
.region-sidebar-first .block-facetapi .facetapi-checkbox.facetapi-inactive.pseudo-class-focus,
.region-sidebar-first .block-facetapi .facetapi-facetapi-links .facetapi-inactive.pseudo-class-hover,
.region-sidebar-first .block-facetapi .facetapi-facetapi-links .facetapi-inactive.pseudo-class-active,
.region-sidebar-first .block-facetapi .facetapi-facetapi-links .facetapi-inactive.pseudo-class-focus {
  text-decoration: none;
  border-bottom: 1px #111 solid;
}

.region-sidebar-first .block-facetapi.pseudo-class-first-of-type {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.region-sidebar-first .block-facetapi.field_product_field_color ul.facetapi-commerce-search-api-fancy .leaf .commerce-search-api-fancy-attributes-color.pseudo-class-hover,
.region-sidebar-first .block-facetapi.field_product_field_color ul.facetapi-commerce-search-api-fancy .leaf .commerce-search-api-fancy-attributes-color.pseudo-class-active,
.region-sidebar-first .block-facetapi.field_product_field_color ul.facetapi-commerce-search-api-fancy .leaf .commerce-search-api-fancy-attributes-color.pseudo-class-focus {
  border-color: transparent;
  transform: size(1.01);
}

.region-sidebar-first .block-facetapi.search_api_multi_aggregation_1 .facetapi-limit-link.pseudo-class-hover,
.region-sidebar-first .block-facetapi.search_api_multi_aggregation_1 .facetapi-limit-link.pseudo-class-active,
.region-sidebar-first .block-facetapi.search_api_multi_aggregation_1 .facetapi-limit-link.pseudo-class-focus {
  text-decoration: none;
}

.view-display-products.view-display-products.view-display-products.view-display-products .view-content li.views-row.pseudo-class-hover,
.view-display-products.view-display-products.view-display-products.view-display-products .view-content li.views-row.pseudo-class-active,
.view-display-products.view-display-products.view-display-products.view-display-products .view-content li.views-row.pseudo-class-focus,
.view-collection-products.view-collection-products.view-collection-products.view-collection-products.view-collection-products .view-content li.views-row.pseudo-class-hover,
.view-collection-products.view-collection-products.view-collection-products.view-collection-products.view-collection-products .view-content li.views-row.pseudo-class-active,
.view-collection-products.view-collection-products.view-collection-products.view-collection-products.view-collection-products .view-content li.views-row.pseudo-class-focus,
.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term .view-content li.views-row.pseudo-class-hover,
.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term .view-content li.views-row.pseudo-class-active,
.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term.view-collection-taxonomy-term .view-content li.views-row.pseudo-class-focus,
.view-taxonomy-products .view-content li.views-row.pseudo-class-hover,
.view-taxonomy-products .view-content li.views-row.pseudo-class-active,
.view-taxonomy-products .view-content li.views-row.pseudo-class-focus {
  background-color: rgba(4, 136, 240, 0.2);
}

.block-search-api-sorts .content ul.search-api-sorts li a.pseudo-class-hover,
.block-search-api-sorts .content ul.search-api-sorts li a.pseudo-class-active,
.block-search-api-sorts .content ul.search-api-sorts li a.pseudo-class-focus {
  background-color: #54b2fc;
}

.page-node.node-type-rings .field-name-ring-free p a.pseudo-class-visited,
.page-node.node-type-rings .field-name-ring-colors p a.pseudo-class-visited,
.page-node.node-type-rings .field-name-ring-sizing p a.pseudo-class-visited,
.page-node.node-type-rings .field-name-ring-gemstones-other p a.pseudo-class-visited,
.page-node.node-type-rings .field-name-ring-gemstones-add p a.pseudo-class-visited {
  color: #0488f0;
}

.page-node.node-type-rings .imagezoom-thumb.pseudo-class-first-of-type {
  margin-top: 0;
}