//
// Basic styles for <html>
//

html,
body {
  width: 100%;
  background: color(page-bg);
}

%visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
