//
// Images and captioned images
//

figure {
  display: inline-block;

  > figcaption {
    @include font-size(18px);

    a {
      @extend %link--basic;
      font-weight: bold;
    }
  }
}

.align-right,
.align-left {
  display: block;
  margin: $padding 0;
}

.align-right {
  @include mq(smallish) {
    margin: 0 0 $padding $padding;
  }
}

.align-left {
  @include mq(smallish) {
    margin: 0 $padding $padding 0;
  }
}
