//
// Shopping cart block
//

.block-shopping-cart-block {
  .content {
    position: relative;
    margin-right: $padding;
    background-color: $white;
    background-position: 5px ($padding / 2);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    @include card(1);
    @include i-ringbox-empty(25px, ($padding-px / 2), ($padding-px / 2), ($padding * 2.5), $blue_verydark);

    .has-items & {
      @include i-ringbox(25px, ($padding-px / 2), ($padding-px / 2), ($padding * 2.5), $blue_verydark);
    }

    .view-shopping-cart {

      // Empty cart message
      .view-empty {
        padding-right: $padding;

        p {
          padding-top: ($padding / 4);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;
          color: $blue_verydark;
        }
      }

      .line-item-summary {
        height: auto;

        // "1 item"
        .line-item-quantity {
          padding-top: ($padding / 4);
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $normal;
          color: $black;
        }

        // total
        .line-item-total {
          padding-top: ($padding / 4);
          padding-left: $padding;
          @include font-size(14px);
          font-family: $fontDefault;
          font-weight: $thin;
        }

        ul.links {
          margin: 0;
          padding: 0;
          background-color: transparent;
          @include font-size(16px);

          // view cart
          .line-item-summary-view-cart a {
          }

          // checkout
          .line-item-summary-checkout a {
            display: block;
            position: relative;
            right: ($padding * -1);
            margin-top: ($padding / 2 * -1);
            padding: ($padding * 2/3) $padding ($padding * 2) $padding;
            background-color: $blue_verydark;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            font-family: $fontDefault;
            font-weight: $normal;
            @include a-slidehover("up");
            @include card(1);

            &::after {
              display: inline-block;
              content: '';
              margin-left: ($padding / 2);
              @include i-heart(15px, $top: 60%, $color: $white);
              height: 15px;
              @include a-pulse;
            }

            @include is-on {
              color: $red;
              background-color: $blue;
              text-decoration: none;

              &::after {
                @include i-heart(15px, $color: $red);
              }
            }

            &.is-clicked::after {
              @include mui-animation(zoom(1, 2.5), fade(1, 0));
              animation-duration: $t_s;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
}
