//
// Lists (views) of features
//

.view-features {
  max-width: 100%;
  padding-top: (3 * $padding);
  padding-bottom: 10px; // to allow for box-shadow
  text-align: center;
  @include no-block-padding;
}
