//
// General page layout
//
// Note that the vast majority of this is done in Commerce Kickstart Theme and
// its parent theme, Omega. These are just specific overrides.
//

// Environment indicator

#environment-indicator {
  top: $topbar-size;
  text-shadow: none;
}

// Preface area (used for cart and tertiary menu)

.zone-preface {
  margin-top: ($padding * -3);
  margin-bottom: $padding;
  margin-left: ($padding * 7);
  padding-top: $padding;

  @include mq(smallish) {
    margin-top: 0;
    margin-left: 0;
  }

  &.container-24 .grid-8 {
    width: auto;
  }
}

// Menu area

.zone-menu {
  margin-top: ($padding * 3);

  @include mq(smallish) {
    margin-top: 0;
  }
}

// Content area

.zone-content-wrapper .zone-content {
  margin-bottom: 0;
  background-color: $blue_verylight;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  @include card(1);
  background-image:
    radial-gradient(
      at top left,
      rgba($white_off, 0.4),
      transparent
    );

  @include mq(mediumish) {
    margin-bottom: ($padding * 4);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.region-content {
  position: relative;
}

.region-content-inner {

  @include mq(mediumish) {
    padding: 0 $padding;
  }
}

// Footer area

.zone-footer-wrapper {
  padding-top: 0;

  @include mq(mediumish) {
    padding-top: ($padding * 2);
  }
}

.region-footer-second {
  margin: 0;
}
