//
// Content area
//

.zone-content-wrapper .zone-content {
  @include card(1);
  margin-bottom: 0;
  background-color: $blue-verylight;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-image:
    radial-gradient(
      at top left,
      rgba($white-off, 0.4),
      transparent
    );

  @include mq(smallish) {
    margin-bottom: ($padding * 4);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.region-content {
  position: relative;
}

.region-content-inner {

  @include mq(smallish) {
    padding: 0 $padding;
  }
}
