//
// Preface zone: Regions one, two and three
//

.zone-preface {
  @include clearfix;
  margin: 0 0 0 ($padding * 7);
  padding: 0;
  min-height: 2rem;
  background-color: transparent;

  @include mq(smallish) {
    margin: 0;
  }

  &.container-24 {
    margin-left: 0 !important;

    @include mq(smallish) {
      margin-left: auto !important;
    }

    .grid-8 {
      width: auto;
    }
  }
}

#region-preface-first {
  margin-left: 0;
}

#region-preface-second {
}

#region-preface-third {
}
