@charset 'utf-8';

// @file
// The major stylesheet for this theme.
//
// We categorize our components by creating headings in this file. Note that per
// the KSS documentation, "not every CSS rule should be documented." Only rules
// that describe visual UI elements are documented in the styleguide. Therefore,
// there is not (and does not need to be) a 1:1 correspondence between the
// style guide sections and the Sass folders and partials.


// Imports
//
// Via Bower + sass-module-importer
@import 'sass-mq';
// Via Bower alone
@import '../bower_components/motion-ui/motion-ui.scss';
// Via vendor folder
@import 'global/vendor/*';

// Variables
//
// Things like base colors, sizes and typography.
//
// Weight: -1
//
// Style guide: variables
@import 'global/variables/breakpoints';
@import 'global/variables/colors';
@import 'global/variables/fonts';
@import 'global/variables/patterns';
@import 'global/variables/icons';
@import 'global/variables/sizes';
@import 'global/animations';

// Functions, mixins and third-party libraries
//
// Sass helper files. These are documented by SassDoc, and not included in the
// style guide.
@import 'global/functions';
@import 'global/mixins';
@import 'global/animations';

// Base defaults
//
// These are the default styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Style guide: base
@import 'base/html';
// Form elements
//
// Style guide: base.form
@import 'base/forms/*';
// Typography
//
// Style guide: base.type
@import 'base/typography/*';

// Layout
//
// These structural styles are not included in the styleguide.
@import 'layout/*';

// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component. (Elements in BEM; molecules in atomic
// design.)
//
// Weight: 1
//
// Style guide: components
@import 'components/*';

// Modules
//
// Design modules are components constructed into specific items, such as a
// product listing or a cart display. (Blocks in BEM; organisms in atomic
// design.) Unrelated to Drupal modules.
//
// Weight: 2
//
// Style guide: modules
@import 'modules/*';
