//
// Bottom call-to-action buttons
//

%bottom-cta {
  display: inline-block;
  text-align: center;
  font-weight: $bold;
}

.block--bottom-cta {
  @include no-block-padding;

  .button--join {
    @extend %bottom-cta;
    width: 30%;
    margin-right: 10%;
    background-color: $blue;
  }

  .button--donate {
    @extend %bottom-cta;
    width: 60%;
    background-color: $yellow;
  }
}

.bottom-cta__wrapper {
  @include no-block-padding;
}
