//
// Ring categories featured on the home page
//

.featured-categories {
  padding-top: 2em;
  text-align: center;

  .taxonomy-term {
    padding: $padding;
    cursor: pointer;
    border: 1px rgba(255,255,255,0.5) solid;
    border-radius: $border-radius;
    transition: $transition;

    @include is-on {
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.featured-categories__title {
  margin-bottom: $padding;
  @include font-size(24px);
  font-weight: $thin;
}

.featured-categories__item {
  margin: 0 $padding $padding $padding;
  width: ($imagestyle-product_medium + (2 * $padding-px) + (2px));
  display: inline-block;
  text-align: center;
  vertical-align: top;

  .field-name-field-cat-featured-rings {

    .node {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    .container-24 {
      padding-left: 0 !important;
      width: auto !important;
    }
  }

  .taxonomy-term-description {
    margin: 0;
    text-align: left;

    p {
      margin-bottom: $padding;
      @include font-size(18px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
