//
// Header bar containing the logo and main navigation
//

.header-container {
  box-shadow: bottom-shadow(3);
}

.header__bleed {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  @include no-scale-flash;
  filter: none;
}

.header__bg {
  width: 100%;
  height: 100%;
  border-bottom: $line-width $yellow solid;
  @extend %pattern--blue;

  @include mq(mediumish) {
    @include no-scale-flash;

    .is-scrolled & {
      transform: scale(1, $header-scale-rev);
      transform-origin: top left;
      transition: transform 0.3s easeIn;
    }
  }
}
