//
// Logo
//

.logo {
  display: inline-block;
  vertical-align: top;
  height: 50px;

  @include mq(mediumish) {
    width: 144px;
    height: 68px;
    margin-left: $padding;
    @include no-scale-flash;

    @include is-on {
      color: $blue;
    }

    .is-scrolled & {
      transform: scale($header-scale);
      transform-origin: top left;
      transition: transform 0.3s linear;
    }
  }
}

.logo__svg {
  height: 50px;
  fill: $paper;

  @include mq(mediumish) {
    height: 68px;
  }

  @include is-on {
    fill: $white;
    transition: all 0.3s easeIn;
  }
}

.logo__title {
  display: none; // We don't want it visible or spoken by text readers

  @include mq(mediumish) {
    position: absolute;
    display: block;
    top: $header-height;
    left: 0;
    width: ($header-height * 4);
    color: $white;
    @include font-size(15px);
    text-shadow: rgba($black, 0.75) 0 1px 3px;
    font-weight: $ultra-bold;
    @include no-scale-flash;

    @include is-on {
      color: $yellow;
      text-shadow: rgba($black, 1) 0 1px 3px;
      transition: all 0.3s;
    }

    .is-scrolled & {
      transform: scale(0);
      transform-origin: top left;
      transition: transform 0s linear;
    }
  }
}
