//
// Main menus
//

.navigation .primary-menu.inline {
  float: none;
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
  top: 2.5em;
  background-color: #137dd1;
}

.navigation .primary-menu.inline::after { /* clearfix */
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.navigation .second-menu.inline {
  float: none;
  margin: 0 0 1em 0;
  padding: 0 1em;
  position: relative;
  top: -2.5em;
  background-color: #54b2fc;
}

.navigation .second-menu.inline::after { /* clearfix */
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.block-menu-tertiary-navigation {
}

/* Primary navigation */

.navigation .primary-menu.inline ul {
  margin: 0;
}

.navigation .primary-menu.inline ul li {
  margin: 0;
  padding: 5px 0;
}

.navigation .primary-menu.inline ul li a {
  margin-right: 1.5em;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

.navigation .primary-menu.inline ul li a:hover,
.navigation .primary-menu.inline ul li a:active,
.navigation .primary-menu.inline ul li a:focus {
  background-color: transparent;
}

.navigation .primary-menu.inline ul li.first a {
  border-left: none;
  border-radius: 0;
}

.navigation .primary-menu.inline ul li.last a {
  padding: 0 5px;
  /*border-left: 1px dotted #fff;*/
  border-right: none;
  border-radius: 0;
  background-color: #fff;
  color: #137dd1;
}

/* Secondary navigation */

.navigation .second-menu.inline ul {
  margin: 0;
}

.navigation .second-menu.inline ul li {
  margin: 0;
  padding: 5px 0;
}

.navigation .second-menu.inline ul li a {
  margin-right: 1.5em;
  padding: 5px 0;
  background-color: transparent;
  border: 0;
}

.navigation .second-menu.inline ul li a:hover,
.navigation .second-menu.inline ul li a:active,
.navigation .second-menu.inline ul li a:focus {
  background-color: transparent;
}

.navigation .second-menu .links::before {
  content: "Popular »";
  margin-right: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

.navigation .second-menu.inline ul li.first a {
  border-left: none;
  border-radius: 0;
}

.navigation .second-menu.inline ul li.last a {
  padding: 0 5px;
  /*border-left: 1px dotted #000;*/
  border-right: none;
  border-radius: 0;
  background-color: #fff;
  color: #54b2fc;
}

/* Tertiary menu */

.block-menu-tertiary-navigation ul.menu li.collapsed,
.block-menu-tertiary-navigation ul.menu li.leaf {
  list-style-type: none;
  list-style-image: none;
  display: inline-block;
}

.block-menu-tertiary-navigation ul.menu li.collapsed a,
.block-menu-tertiary-navigation ul.menu li.leaf a {
  background-color: #fff;
  padding: 10px 10px 11px 10px;
  font-weight: bold;
  opacity: 0.8;
}

