//
// "Stay connected"
//

.block--stay-connected {
  text-align: center;
}

.block--stay-connected__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem 1rem 1rem;
  @include font-size(32px);
  color: $white;
}

.block--stay-connected__menu {
  display: inline-block;

  .menu {
    margin-left: 0;
  }

  .menu-item {
    display: inline-block;
  }
}

%icon-link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 $padding;
  width: 3rem;
  height: 3rem;
  border-bottom-width: 0 !important;
  opacity: 0.85;

  @include is-on {
    opacity: 1;
  }
}

.menu-link__facebook {
  @extend %icon-link;
  @include ir('/themes/dove/icons/facebook.svg');
}

.menu-link__twitter {
  @extend %icon-link;
  @include ir('/themes/dove/icons/twitter.svg');
}

.menu-link__flickr {
  @extend %icon-link;
  @include ir('/themes/dove/icons/flickr.svg');
}

.menu-link__youtube {
  @extend %icon-link;
  @include ir('/themes/dove/icons/youtube.svg');
}

.menu-link__tumblr {
  @extend %icon-link;
  @include ir('/themes/dove/icons/tumblr.svg');
}

.menu-link__pinterest {
  @extend %icon-link;
  @include ir('/themes/dove/icons/pinterest.svg');
}
