//
// Loading spinners
//

%is-loading {
  @include a-loading;
  margin-top: ($padding * -2);
  @include font-size(16px);
  font-weight: $normal;
}

%is-loading--inline {
  @extend %is-loading;
  display: inline;
  line-height: ($padding * 3);
}

%is-loading--drupal {
  @extend %is-loading;
  margin-left: $padding;
  // Overrides Drupal's spinner
  margin-right: 0;
  padding-right: 0 !important;
  background-image: none;

  .throbber {
    background-image: none;
  }
}

.is-loading {
  @extend %is-loading;
}

.ajax-progress-throbber {
  @extend %is-loading--drupal;
}
