//
// Logo image at the top of the site
//

.block-blockify-logo {
  width: 100%;
  max-width: $logo__width;
  max-height: $logo__height;
  float: none;
  margin: 0 auto;

  @include mq(mediumish) {
    float: left;
    margin: 0;
  }

  .logo-img {
    width: 100%;
    float: none;
    margin: 0;

    a {
      display: inline-block;
    }
  }
}
